# Formative Assignment

There are 12 exercises in these assignment. You are expected to carry out at least 10 exercises out of 12. Each completed exercise is awarded 10 points. In order to pass the final assigment you will need to reach at least 40
points out of 100.

In [6]:
## Let's import the libraries we are going to use later on
import numpy as np
import pandas as pd

# Let's set the precision for NumPy and Pandas
np.set_printoptions(precision=3)
pd.options.display.float_format = '{:,.2f}'.format

## Exercises on Data Structures

### 1. Compute statistics on a Python list
Given the following list
```
l = [12, 45, 12, 999, 10, 8, 76, 20, 10, 10, 7, 70, 17]
```
Compute the mean, the median and the standard deviation of the values in the list, using only built in functionalities of python (no imported libraries, no NumPy or Pandas)

In [2]:
l = [12, 45, 12, 999, 10, 8, 76, 20, 10, 10, 7, 70, 17]
# Write your solution here

mean = sum(l)/len(l)
print('Mean is {}'.format(mean))

median = sorted(l)[len(l)//2]
print('Median is {}'.format(median))

var = sum([(el-mean)**2 for el in l])/len(l)
print('Var is {}'.format(var))
std = var**(1/2)
print('Std is {}'.format(std))

Mean is 99.6923076923077
Median is 12
Var is 67914.674556213
Std is 260.6044407837537

### 2. Create a dictionary from a list of tuples (records)

Given the following list of tuples, each one holding a record
```
records = [
    ('author', 'title', 'publication_year', 'page_count'), 
    ('J. R. R. Tolkien', 'The Fellowship of the Ring', 1954, 398),
    ('J. K. Rowling', 'Harry Potter and the Philosopher\'s stone', 1996, 223),
    ('Evelyn Waugh', 'Brideshead Revisited', 1945, 402),
    ('Philip K. Dick', 'Ubik', 1969, 202),
    ('Thomas Pynchon', "Gravity's Rainbow", 1973, 760),
    ('Stephen King', 'The Stand', 1978, 829)
]
```
Convert them into a list of dictionaries, using the first tuple as keys for all the dictionaries and all the other tuples as values, one per dictionary. 
Expected result:

```
books = [{'author': 'J. R. R. Tolkien',
  'title': 'The Fellowship of the Ring',
  'publication_year': 1954,
  'page_count': 398},
 {'author': 'J. K. Rowling',
  'title': "Harry Potter and the Philosopher's stone",
  'publication_year': 1996,
  'page_count': 223},
 {'author': 'Evelyn Waugh',
  'title': 'Brideshead Revisited',
  'publication_year': 1945,
  'page_count': 402},
 {'author': 'Philip K. Dick',
  'title': 'Ubik',
  'publication_year': 1969,
  'page_count': 202},
 {'author': 'Thomas Pynchon',
  'title': "Gravity's Rainbow",
  'publication_year': 1973,
  'page_count': 760},
 {'author': 'Stephen King',
  'title': 'The Stand',
  'publication_year': 1978,
  'page_count': 829}]
```

In [3]:
records = [
    ('author', 'title', 'publication_year', 'page_count'), 
    ('J. R. R. Tolkien', 'The Fellowship of the Ring', 1954, 398),
    ('J. K. Rowling', 'Harry Potter and the Philosopher\'s stone', 1996, 223),
    ('Evelyn Waugh', 'Brideshead Revisited', 1945, 402),
    ('Philip K. Dick', 'Ubik', 1969, 202),
    ('Thomas Pynchon', "Gravity's Rainbow", 1973, 760),
    ('Stephen King', 'The Stand', 1978, 829)
]

## Write your solution here
res = [dict(zip(records[0], records[i])) for i in range(1, len(records))]
res

[{'author': 'J. R. R. Tolkien',
  'title': 'The Fellowship of the Ring',
  'publication_year': 1954,
  'page_count': 398},
 {'author': 'J. K. Rowling',
  'title': "Harry Potter and the Philosopher's stone",
  'publication_year': 1996,
  'page_count': 223},
 {'author': 'Evelyn Waugh',
  'title': 'Brideshead Revisited',
  'publication_year': 1945,
  'page_count': 402},
 {'author': 'Philip K. Dick',
  'title': 'Ubik',
  'publication_year': 1969,
  'page_count': 202},
 {'author': 'Thomas Pynchon',
  'title': "Gravity's Rainbow",
  'publication_year': 1973,
  'page_count': 760},
 {'author': 'Stephen King',
  'title': 'The Stand',
  'publication_year': 1978,
  'page_count': 829}]

## Exercises on Numpy

For these exercises we will work on the IRIS dataset, a very popular multivariate dataset for data anaylisis, first introduced by Ronald Fisher in 1936.

See more about the IRIS dataset heare: https://archive.ics.uci.edu/ml/datasets/Iris

The data source is the file `iris.data` retrieved from the Web. It contains the data for this example in comma separated values (CSV) format. The number of columns is 5 and the number of rows is 150. The data set is composed of 50 samples from each of three species of Iris Flower: Iris setosa, Iris Virginica and Iris Versicolor. Four features were measured from each sample: the length and the width of the sepals and petals, in centimetres. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species one from each other.

The variables are:

    sepal_length: Sepal length, in centimeters.
    sepal_width: Sepal width, in centimeters.
    petal_length: Petal length, in centimeters.
    petal_width: Petal width, in centimeters.

The three categories of Irises are: 'Iris Setosa', 'Iris Versicolor', and 'Iris Virginica'. 

Let's first import the `iris` dataset as a 1-dimensional array of tuples.

In [4]:
# Input:
# Import iris keeping the text column intact
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', 
                     names=['sepal length', 'sepal width', 'petal length', 'petal width', 'species'],
                     dtype=[np.float, np.float, np.float, np.float, '|S15']
)
iris

array([(5.1, 3.5, 1.4, 0.2, b'Iris-setosa'),
       (4.9, 3. , 1.4, 0.2, b'Iris-setosa'),
       (4.7, 3.2, 1.3, 0.2, b'Iris-setosa'),
       (4.6, 3.1, 1.5, 0.2, b'Iris-setosa'),
       (5. , 3.6, 1.4, 0.2, b'Iris-setosa'),
       (5.4, 3.9, 1.7, 0.4, b'Iris-setosa'),
       (4.6, 3.4, 1.4, 0.3, b'Iris-setosa'),
       (5. , 3.4, 1.5, 0.2, b'Iris-setosa'),
       (4.4, 2.9, 1.4, 0.2, b'Iris-setosa'),
       (4.9, 3.1, 1.5, 0.1, b'Iris-setosa'),
       (5.4, 3.7, 1.5, 0.2, b'Iris-setosa'),
       (4.8, 3.4, 1.6, 0.2, b'Iris-setosa'),
       (4.8, 3. , 1.4, 0.1, b'Iris-setosa'),
       (4.3, 3. , 1.1, 0.1, b'Iris-setosa'),
       (5.8, 4. , 1.2, 0.2, b'Iris-setosa'),
       (5.7, 4.4, 1.5, 0.4, b'Iris-setosa'),
       (5.4, 3.9, 1.3, 0.4, b'Iris-setosa'),
       (5.1, 3.5, 1.4, 0.3, b'Iris-setosa'),
       (5.7, 3.8, 1.7, 0.3, b'Iris-setosa'),
       (5.1, 3.8, 1.5, 0.3, b'Iris-setosa'),
       (5.4, 3.4, 1.7, 0.2, b'Iris-setosa'),
       (5.1, 3.7, 1.5, 0.4, b'Iris-setosa'),
       (4.6, 3.6, 1. , 0.2, b'Iris-setosa'),
       (5.1, 3.3, 1.7, 0.5, b'Iris-setosa'),
       (4.8, 3.4, 1.9, 0.2, b'Iris-setosa'),
       (5. , 3. , 1.6, 0.2, b'Iris-setosa'),
       (5. , 3.4, 1.6, 0.4, b'Iris-setosa'),
       (5.2, 3.5, 1.5, 0.2, b'Iris-setosa'),
       (5.2, 3.4, 1.4, 0.2, b'Iris-setosa'),
       (4.7, 3.2, 1.6, 0.2, b'Iris-setosa'),
       (4.8, 3.1, 1.6, 0.2, b'Iris-setosa'),
       (5.4, 3.4, 1.5, 0.4, b'Iris-setosa'),
       (5.2, 4.1, 1.5, 0.1, b'Iris-setosa'),
       (5.5, 4.2, 1.4, 0.2, b'Iris-setosa'),
       (4.9, 3.1, 1.5, 0.1, b'Iris-setosa'),
       (5. , 3.2, 1.2, 0.2, b'Iris-setosa'),
       (5.5, 3.5, 1.3, 0.2, b'Iris-setosa'),
       (4.9, 3.1, 1.5, 0.1, b'Iris-setosa'),
       (4.4, 3. , 1.3, 0.2, b'Iris-setosa'),
       (5.1, 3.4, 1.5, 0.2, b'Iris-setosa'),
       (5. , 3.5, 1.3, 0.3, b'Iris-setosa'),
       (4.5, 2.3, 1.3, 0.3, b'Iris-setosa'),
       (4.4, 3.2, 1.3, 0.2, b'Iris-setosa'),
       (5. , 3.5, 1.6, 0.6, b'Iris-setosa'),
       (5.1, 3.8, 1.9, 0.4, b'Iris-setosa'),
       (4.8, 3. , 1.4, 0.3, b'Iris-setosa'),
       (5.1, 3.8, 1.6, 0.2, b'Iris-setosa'),
       (4.6, 3.2, 1.4, 0.2, b'Iris-setosa'),
       (5.3, 3.7, 1.5, 0.2, b'Iris-setosa'),
       (5. , 3.3, 1.4, 0.2, b'Iris-setosa'),
       (7. , 3.2, 4.7, 1.4, b'Iris-versicolor'),
       (6.4, 3.2, 4.5, 1.5, b'Iris-versicolor'),
       (6.9, 3.1, 4.9, 1.5, b'Iris-versicolor'),
       (5.5, 2.3, 4. , 1.3, b'Iris-versicolor'),
       (6.5, 2.8, 4.6, 1.5, b'Iris-versicolor'),
       (5.7, 2.8, 4.5, 1.3, b'Iris-versicolor'),
       (6.3, 3.3, 4.7, 1.6, b'Iris-versicolor'),
       (4.9, 2.4, 3.3, 1. , b'Iris-versicolor'),
       (6.6, 2.9, 4.6, 1.3, b'Iris-versicolor'),
       (5.2, 2.7, 3.9, 1.4, b'Iris-versicolor'),
       (5. , 2. , 3.5, 1. , b'Iris-versicolor'),
       (5.9, 3. , 4.2, 1.5, b'Iris-versicolor'),
       (6. , 2.2, 4. , 1. , b'Iris-versicolor'),
       (6.1, 2.9, 4.7, 1.4, b'Iris-versicolor'),
       (5.6, 2.9, 3.6, 1.3, b'Iris-versicolor'),
       (6.7, 3.1, 4.4, 1.4, b'Iris-versicolor'),
       (5.6, 3. , 4.5, 1.5, b'Iris-versicolor'),
       (5.8, 2.7, 4.1, 1. , b'Iris-versicolor'),
       (6.2, 2.2, 4.5, 1.5, b'Iris-versicolor'),
       (5.6, 2.5, 3.9, 1.1, b'Iris-versicolor'),
       (5.9, 3.2, 4.8, 1.8, b'Iris-versicolor'),
       (6.1, 2.8, 4. , 1.3, b'Iris-versicolor'),
       (6.3, 2.5, 4.9, 1.5, b'Iris-versicolor'),
       (6.1, 2.8, 4.7, 1.2, b'Iris-versicolor'),
       (6.4, 2.9, 4.3, 1.3, b'Iris-versicolor'),
       (6.6, 3. , 4.4, 1.4, b'Iris-versicolor'),
       (6.8, 2.8, 4.8, 1.4, b'Iris-versicolor'),
       (6.7, 3. , 5. , 1.7, b'Iris-versicolor'),
       (6. , 2.9, 4.5, 1.5, b'Iris-versicolor'),
       (5.7, 2.6, 3.5, 1. , b'Iris-versicolor'),
       (5.5, 2.4, 3.8, 1.1, b'Iris-versicolor'),
       (5.5, 2.4, 3.7, 1. , b'Iris-versicolor'),
       (5.8, 2.7, 3.9, 1.2, b'Iris-versicolor'),
       (6. , 2.7, 5.1, 1.6, b'Iris-versicolor'),
       (5.4, 3. , 4.5, 1.5, b'Iris-versicolor'),
       (6. , 3.4, 4.5, 1.6, b'Iris-versicolor'),
       (6.7, 3.1, 4.7, 1.5, b'Iris-versicolor'),
       (6.3, 2.3, 4.4, 1.3, b'Iris-versicolor'),
       (5.6, 3. , 4.1, 1.3, b'Iris-versicolor'),
       (5.5, 2.5, 4. , 1.3, b'Iris-versicolor'),
       (5.5, 2.6, 4.4, 1.2, b'Iris-versicolor'),
       (6.1, 3. , 4.6, 1.4, b'Iris-versicolor'),
       (5.8, 2.6, 4. , 1.2, b'Iris-versicolor'),
       (5. , 2.3, 3.3, 1. , b'Iris-versicolor'),
       (5.6, 2.7, 4.2, 1.3, b'Iris-versicolor'),
       (5.7, 3. , 4.2, 1.2, b'Iris-versicolor'),
       (5.7, 2.9, 4.2, 1.3, b'Iris-versicolor'),
       (6.2, 2.9, 4.3, 1.3, b'Iris-versicolor'),
       (5.1, 2.5, 3. , 1.1, b'Iris-versicolor'),
       (5.7, 2.8, 4.1, 1.3, b'Iris-versicolor'),
       (6.3, 3.3, 6. , 2.5, b'Iris-virginica'),
       (5.8, 2.7, 5.1, 1.9, b'Iris-virginica'),
       (7.1, 3. , 5.9, 2.1, b'Iris-virginica'),
       (6.3, 2.9, 5.6, 1.8, b'Iris-virginica'),
       (6.5, 3. , 5.8, 2.2, b'Iris-virginica'),
       (7.6, 3. , 6.6, 2.1, b'Iris-virginica'),
       (4.9, 2.5, 4.5, 1.7, b'Iris-virginica'),
       (7.3, 2.9, 6.3, 1.8, b'Iris-virginica'),
       (6.7, 2.5, 5.8, 1.8, b'Iris-virginica'),
       (7.2, 3.6, 6.1, 2.5, b'Iris-virginica'),
       (6.5, 3.2, 5.1, 2. , b'Iris-virginica'),
       (6.4, 2.7, 5.3, 1.9, b'Iris-virginica'),
       (6.8, 3. , 5.5, 2.1, b'Iris-virginica'),
       (5.7, 2.5, 5. , 2. , b'Iris-virginica'),
       (5.8, 2.8, 5.1, 2.4, b'Iris-virginica'),
       (6.4, 3.2, 5.3, 2.3, b'Iris-virginica'),
       (6.5, 3. , 5.5, 1.8, b'Iris-virginica'),
       (7.7, 3.8, 6.7, 2.2, b'Iris-virginica'),
       (7.7, 2.6, 6.9, 2.3, b'Iris-virginica'),
       (6. , 2.2, 5. , 1.5, b'Iris-virginica'),
       (6.9, 3.2, 5.7, 2.3, b'Iris-virginica'),
       (5.6, 2.8, 4.9, 2. , b'Iris-virginica'),
       (7.7, 2.8, 6.7, 2. , b'Iris-virginica'),
       (6.3, 2.7, 4.9, 1.8, b'Iris-virginica'),
       (6.7, 3.3, 5.7, 2.1, b'Iris-virginica'),
       (7.2, 3.2, 6. , 1.8, b'Iris-virginica'),
       (6.2, 2.8, 4.8, 1.8, b'Iris-virginica'),
       (6.1, 3. , 4.9, 1.8, b'Iris-virginica'),
       (6.4, 2.8, 5.6, 2.1, b'Iris-virginica'),
       (7.2, 3. , 5.8, 1.6, b'Iris-virginica'),
       (7.4, 2.8, 6.1, 1.9, b'Iris-virginica'),
       (7.9, 3.8, 6.4, 2. , b'Iris-virginica'),
       (6.4, 2.8, 5.6, 2.2, b'Iris-virginica'),
       (6.3, 2.8, 5.1, 1.5, b'Iris-virginica'),
       (6.1, 2.6, 5.6, 1.4, b'Iris-virginica'),
       (7.7, 3. , 6.1, 2.3, b'Iris-virginica'),
       (6.3, 3.4, 5.6, 2.4, b'Iris-virginica'),
       (6.4, 3.1, 5.5, 1.8, b'Iris-virginica'),
       (6. , 3. , 4.8, 1.8, b'Iris-virginica'),
       (6.9, 3.1, 5.4, 2.1, b'Iris-virginica'),
       (6.7, 3.1, 5.6, 2.4, b'Iris-virginica'),
       (6.9, 3.1, 5.1, 2.3, b'Iris-virginica'),
       (5.8, 2.7, 5.1, 1.9, b'Iris-virginica'),
       (6.8, 3.2, 5.9, 2.3, b'Iris-virginica'),
       (6.7, 3.3, 5.7, 2.5, b'Iris-virginica'),
       (6.7, 3. , 5.2, 2.3, b'Iris-virginica'),
       (6.3, 2.5, 5. , 1.9, b'Iris-virginica'),
       (6.5, 3. , 5.2, 2. , b'Iris-virginica'),
       (6.2, 3.4, 5.4, 2.3, b'Iris-virginica'),
       (5.9, 3. , 5.1, 1.8, b'Iris-virginica')],
      dtype=[('sepal_length', '<f8'), ('sepal_width', '<f8'), ('petal_length', '<f8'), ('petal_width', '<f8'), ('species', 'S15')])

### 3. How to convert a 1d array of tuples to a 2d numpy array

Exercise: convert the `iris` 1D array to a numeric-only 2D array `iris_data` by omitting the species text field. Create a `iris_label` 1D array containing only the species text field. Keep the same indexing/order as in the original array.

In [5]:
## Write your solution here

# Solution:
# Method 1: Convert each row to a list and get the first 4 items
iris_data = np.array([row.tolist()[:4] for row in iris])
iris_labels = np.array([row.tolist()[4] for row in iris])
print(iris_data[:4])
print(iris_labels[:4])

# Alt Method 2: Import only the first 4 columns from source url
iris_data = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0,1,2,3])
iris_labels = np.genfromtxt(url, delimiter=',', dtype='|S15', usecols=[4])
print(iris_data[:4])
print(iris_labels[:4])
#> array([[ 5.1,  3.5,  1.4,  0.2],
#>        [ 4.9,  3. ,  1.4,  0.2],
#>        [ 4.7,  3.2,  1.3,  0.2],
#>        [ 4.6,  3.1,  1.5,  0.2]])

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]]
[b'Iris-setosa' b'Iris-setosa' b'Iris-setosa' b'Iris-setosa']
[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]]
[b'Iris-setosa' b'Iris-setosa' b'Iris-setosa' b'Iris-setosa']

### 4. Split the IRIS dataset by Label


Split the dataset in `iris_data` according to the labels `iris_labels`.

In [6]:
# Write your solution here

# Solution 1
irises_by_species = {}
for species in set(iris_labels):
    irises_by_species[species] = iris_data[iris_labels == species]
print(irises_by_species)

# Solution 2: dict comprehension
irises_by_species = {
    species: iris_data[iris_labels == species] for species in set(iris_labels)
}
print(irises_by_species)

{b'Iris-setosa': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2]]), b'Iris-virginica': array([[6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), b'Iris-versicolor': array([[7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3]])}
{b'Iris-setosa': array([[5.1, 3.5, 1.4, 0.2],
       [4.9, 3. , 1.4, 0.2],
       [4.7, 3.2, 1.3, 0.2],
       [4.6, 3.1, 1.5, 0.2],
       [5. , 3.6, 1.4, 0.2],
       [5.4, 3.9, 1.7, 0.4],
       [4.6, 3.4, 1.4, 0.3],
       [5. , 3.4, 1.5, 0.2],
       [4.4, 2.9, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5.4, 3.7, 1.5, 0.2],
       [4.8, 3.4, 1.6, 0.2],
       [4.8, 3. , 1.4, 0.1],
       [4.3, 3. , 1.1, 0.1],
       [5.8, 4. , 1.2, 0.2],
       [5.7, 4.4, 1.5, 0.4],
       [5.4, 3.9, 1.3, 0.4],
       [5.1, 3.5, 1.4, 0.3],
       [5.7, 3.8, 1.7, 0.3],
       [5.1, 3.8, 1.5, 0.3],
       [5.4, 3.4, 1.7, 0.2],
       [5.1, 3.7, 1.5, 0.4],
       [4.6, 3.6, 1. , 0.2],
       [5.1, 3.3, 1.7, 0.5],
       [4.8, 3.4, 1.9, 0.2],
       [5. , 3. , 1.6, 0.2],
       [5. , 3.4, 1.6, 0.4],
       [5.2, 3.5, 1.5, 0.2],
       [5.2, 3.4, 1.4, 0.2],
       [4.7, 3.2, 1.6, 0.2],
       [4.8, 3.1, 1.6, 0.2],
       [5.4, 3.4, 1.5, 0.4],
       [5.2, 4.1, 1.5, 0.1],
       [5.5, 4.2, 1.4, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [5. , 3.2, 1.2, 0.2],
       [5.5, 3.5, 1.3, 0.2],
       [4.9, 3.1, 1.5, 0.1],
       [4.4, 3. , 1.3, 0.2],
       [5.1, 3.4, 1.5, 0.2],
       [5. , 3.5, 1.3, 0.3],
       [4.5, 2.3, 1.3, 0.3],
       [4.4, 3.2, 1.3, 0.2],
       [5. , 3.5, 1.6, 0.6],
       [5.1, 3.8, 1.9, 0.4],
       [4.8, 3. , 1.4, 0.3],
       [5.1, 3.8, 1.6, 0.2],
       [4.6, 3.2, 1.4, 0.2],
       [5.3, 3.7, 1.5, 0.2],
       [5. , 3.3, 1.4, 0.2]]), b'Iris-virginica': array([[6.3, 3.3, 6. , 2.5],
       [5.8, 2.7, 5.1, 1.9],
       [7.1, 3. , 5.9, 2.1],
       [6.3, 2.9, 5.6, 1.8],
       [6.5, 3. , 5.8, 2.2],
       [7.6, 3. , 6.6, 2.1],
       [4.9, 2.5, 4.5, 1.7],
       [7.3, 2.9, 6.3, 1.8],
       [6.7, 2.5, 5.8, 1.8],
       [7.2, 3.6, 6.1, 2.5],
       [6.5, 3.2, 5.1, 2. ],
       [6.4, 2.7, 5.3, 1.9],
       [6.8, 3. , 5.5, 2.1],
       [5.7, 2.5, 5. , 2. ],
       [5.8, 2.8, 5.1, 2.4],
       [6.4, 3.2, 5.3, 2.3],
       [6.5, 3. , 5.5, 1.8],
       [7.7, 3.8, 6.7, 2.2],
       [7.7, 2.6, 6.9, 2.3],
       [6. , 2.2, 5. , 1.5],
       [6.9, 3.2, 5.7, 2.3],
       [5.6, 2.8, 4.9, 2. ],
       [7.7, 2.8, 6.7, 2. ],
       [6.3, 2.7, 4.9, 1.8],
       [6.7, 3.3, 5.7, 2.1],
       [7.2, 3.2, 6. , 1.8],
       [6.2, 2.8, 4.8, 1.8],
       [6.1, 3. , 4.9, 1.8],
       [6.4, 2.8, 5.6, 2.1],
       [7.2, 3. , 5.8, 1.6],
       [7.4, 2.8, 6.1, 1.9],
       [7.9, 3.8, 6.4, 2. ],
       [6.4, 2.8, 5.6, 2.2],
       [6.3, 2.8, 5.1, 1.5],
       [6.1, 2.6, 5.6, 1.4],
       [7.7, 3. , 6.1, 2.3],
       [6.3, 3.4, 5.6, 2.4],
       [6.4, 3.1, 5.5, 1.8],
       [6. , 3. , 4.8, 1.8],
       [6.9, 3.1, 5.4, 2.1],
       [6.7, 3.1, 5.6, 2.4],
       [6.9, 3.1, 5.1, 2.3],
       [5.8, 2.7, 5.1, 1.9],
       [6.8, 3.2, 5.9, 2.3],
       [6.7, 3.3, 5.7, 2.5],
       [6.7, 3. , 5.2, 2.3],
       [6.3, 2.5, 5. , 1.9],
       [6.5, 3. , 5.2, 2. ],
       [6.2, 3.4, 5.4, 2.3],
       [5.9, 3. , 5.1, 1.8]]), b'Iris-versicolor': array([[7. , 3.2, 4.7, 1.4],
       [6.4, 3.2, 4.5, 1.5],
       [6.9, 3.1, 4.9, 1.5],
       [5.5, 2.3, 4. , 1.3],
       [6.5, 2.8, 4.6, 1.5],
       [5.7, 2.8, 4.5, 1.3],
       [6.3, 3.3, 4.7, 1.6],
       [4.9, 2.4, 3.3, 1. ],
       [6.6, 2.9, 4.6, 1.3],
       [5.2, 2.7, 3.9, 1.4],
       [5. , 2. , 3.5, 1. ],
       [5.9, 3. , 4.2, 1.5],
       [6. , 2.2, 4. , 1. ],
       [6.1, 2.9, 4.7, 1.4],
       [5.6, 2.9, 3.6, 1.3],
       [6.7, 3.1, 4.4, 1.4],
       [5.6, 3. , 4.5, 1.5],
       [5.8, 2.7, 4.1, 1. ],
       [6.2, 2.2, 4.5, 1.5],
       [5.6, 2.5, 3.9, 1.1],
       [5.9, 3.2, 4.8, 1.8],
       [6.1, 2.8, 4. , 1.3],
       [6.3, 2.5, 4.9, 1.5],
       [6.1, 2.8, 4.7, 1.2],
       [6.4, 2.9, 4.3, 1.3],
       [6.6, 3. , 4.4, 1.4],
       [6.8, 2.8, 4.8, 1.4],
       [6.7, 3. , 5. , 1.7],
       [6. , 2.9, 4.5, 1.5],
       [5.7, 2.6, 3.5, 1. ],
       [5.5, 2.4, 3.8, 1.1],
       [5.5, 2.4, 3.7, 1. ],
       [5.8, 2.7, 3.9, 1.2],
       [6. , 2.7, 5.1, 1.6],
       [5.4, 3. , 4.5, 1.5],
       [6. , 3.4, 4.5, 1.6],
       [6.7, 3.1, 4.7, 1.5],
       [6.3, 2.3, 4.4, 1.3],
       [5.6, 3. , 4.1, 1.3],
       [5.5, 2.5, 4. , 1.3],
       [5.5, 2.6, 4.4, 1.2],
       [6.1, 3. , 4.6, 1.4],
       [5.8, 2.6, 4. , 1.2],
       [5. , 2.3, 3.3, 1. ],
       [5.6, 2.7, 4.2, 1.3],
       [5.7, 3. , 4.2, 1.2],
       [5.7, 2.9, 4.2, 1.3],
       [6.2, 2.9, 4.3, 1.3],
       [5.1, 2.5, 3. , 1.1],
       [5.7, 2.8, 4.1, 1.3]])}

### 4. Compute statistics with Numpy

1) For ,each flower species compute the key statistics for `sepal width`:
- mean
- median
- standard deviation

Answer to the following questions:

    a) Which is the flower type with the largest mean value for `sepal_width`?
    b) Which is the flower type with the smallest median value for `sepal_width`?
    
2) Compute the correlation matrix between `sepal_width` and `petal_length` for the three scpecies. Which is the species that shows the highest correlation among the two parameters?

In [7]:
### Compute mean, median, and standard deviation for `sepal width` here:
statistics = {}
for species, dataset in irises_by_species.items():
    statistics[species] = {
        'mean': np.mean(dataset, axis=0)[1],
        'median': np.median(dataset, axis=0)[1],
        'std': np.std(dataset, axis=0)[1],
}
statistics

{b'Iris-setosa': {'mean': 3.4180000000000006,
  'median': 3.4,
  'std': 0.37719490982779713},
 b'Iris-virginica': {'mean': 2.9739999999999998,
  'median': 3.0,
  'std': 0.319255383666431},
 b'Iris-versicolor': {'mean': 2.7700000000000005,
  'median': 2.8,
  'std': 0.31064449134018135}}

- Iris-setosa has the largest mean value
- Iris-versicolor has the smallest median value

In [8]:
### Compute the correlation coefficients here
for ds in irises_by_species.values():
    print(ds[:5])
corrs = {
    ## I just need the 2nd and 3rd values from the matrix as I only 
    ## need sepal_width (2nd) and petal_lenght (3rd), hence [1:3, 1:3] slicing
    species: np.corrcoef(dataset.T)[1:3,1:3] for species, dataset in irises_by_species.items()
}
corrs

[[5.1 3.5 1.4 0.2]
 [4.9 3.  1.4 0.2]
 [4.7 3.2 1.3 0.2]
 [4.6 3.1 1.5 0.2]
 [5.  3.6 1.4 0.2]]
[[6.3 3.3 6.  2.5]
 [5.8 2.7 5.1 1.9]
 [7.1 3.  5.9 2.1]
 [6.3 2.9 5.6 1.8]
 [6.5 3.  5.8 2.2]]
[[7.  3.2 4.7 1.4]
 [6.4 3.2 4.5 1.5]
 [6.9 3.1 4.9 1.5]
 [5.5 2.3 4.  1.3]
 [6.5 2.8 4.6 1.5]]

{b'Iris-setosa': array([[1.   , 0.177],
        [0.177, 1.   ]]), b'Iris-virginica': array([[1.   , 0.401],
        [0.401, 1.   ]]), b'Iris-versicolor': array([[1.   , 0.561],
        [0.561, 1.   ]])}

Iris versicolor shows the highest correlation between `sepal_width` 
(second column of the `iris_data` array)  and `petal_length` (third column)

### 5. How to create a new column from existing columns of a numpy array

Create a new column for the flower volume V in `iris`, where volume is computing according to this formula (the assumption here is that the shape of the iris flower is approximately conical):

$$ Volume = \frac{\pi \times Sepal Length^2 \times Petal Length}{3}$$

In [9]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='object')

# Write your solution here

# Compute volume
# ≠print(iris_2d[0, 0], float(iris_2d[0, 0]), np.pi * 5.1**2 * 1.4 / 3  )

sepallength = iris_2d[:, 0].astype('float')
petallength = iris_2d[:, 2].astype('float')
volume = np.pi * petallength * (sepallength**2)/3

# Introduce new dimension to match iris_2d's
volume = volume[:, np.newaxis]

# Add the new column
out = np.hstack([iris_2d, volume])

# View
out[:4]
#> array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa', 38.13265162927291],
#>        [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa', 35.200498485922445],
#>        [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa', 30.0723720777127],
#>        [b'4.6', b'3.1', b'1.5', b'0.2', b'Iris-setosa', 33.238050274980004]], dtype=object)

array([[b'5.1', b'3.5', b'1.4', b'0.2', b'Iris-setosa',
        38.13265162927291],
       [b'4.9', b'3.0', b'1.4', b'0.2', b'Iris-setosa',
        35.200498485922445],
       [b'4.7', b'3.2', b'1.3', b'0.2', b'Iris-setosa', 30.0723720777127],
       [b'4.6', b'3.1', b'1.5', b'0.2', b'Iris-setosa',
        33.238050274980004]], dtype=object)

# Exercises on Pandas Series and DataFrames

### 6. How to convert the index of a series into a column of a dataframe

Convert the series `ser` into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [10]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Write your solution here
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### 7. How to combine many series to form a dataframe

Combine `ser_1` `ser_2`, and `ser_3` to form a dataframe.

In [11]:
# Input
import numpy as np
ser_1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser_2 = pd.Series(np.arange(26))
ser_3 = pd.Series(np.full(26, True, dtype=bool))

# Write your solution here

# Solution 1
df = pd.concat([ser_1, ser_2, ser_3], axis=1)

# Solution 2
df = pd.DataFrame({'col_1': ser_1, 'col_2': ser_2, 'col_3': ser_3})
print(df.head())

  col_1  col_2  col_3
0     a      0   True
1     b      1   True
2     c      2   True
3     e      3   True
4     d      4   True

## Pandas with a Real Dataset

Let us import the "Cars93"  into a Pandas DataFrame. This dataset, borrowed from R, contains information about 93 Cars sold in the US in 1993. It consists of 93 rows and 27 columns. You can read more details about it here: https://stat.ethz.ch/R-manual/R-devel/library/MASS/html/Cars93.html

The version we are using has some missing values.

In [7]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,5.00,177.00,102.00,68.00,37.00,26.50,nan,"2,705.00",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,5.00,195.00,115.00,71.00,38.00,30.00,15.00,"3,560.00",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,5.00,180.00,102.00,67.00,37.00,28.00,14.00,"3,375.00",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,6.00,193.00,106.00,nan,37.00,31.00,17.00,"3,405.00",non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,4.00,186.00,109.00,69.00,39.00,27.00,13.00,"3,640.00",non-USA,BMW 535i

### 8. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe.

In [8]:
# Write your solution here

#  number of rows and columns
print(df.shape)
print('\n')

# datatypes
print(df.dtypes)
print('\n')
# how many columns under each dtype
print(df.get_dtype_counts())
print('\n')
print(df.dtypes.value_counts())
print('\n')
# summary statistics
df_stats = df.describe()
print('\n')
# numpy array 
df_arr = df.values
print('\n')
# list
df_list = df.values.tolist()
df_stats

(93, 27)


Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object


float64    18
object      9
dtype: int64


float64    18
object      9
dtype: int64

/Users/stephen_allison/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  # This is added back by InteractiveShellApp.init_path()

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.00,91.00,88.00,84.00,91.00,91.00,86.00,90.00,87.00,85.00,91.00,89.00,92.00,87.00,88.00,89.00,74.00,86.00
mean,17.12,19.62,21.46,22.40,29.07,2.66,144.00,"5,276.67","2,355.00",16.68,5.08,182.87,103.96,69.45,38.95,27.85,13.99,"3,104.59"
std,8.83,9.72,10.70,5.84,5.37,1.05,53.46,605.55,486.92,3.38,1.05,14.79,6.86,3.78,3.30,3.02,3.12,600.13
min,6.70,7.40,7.90,15.00,20.00,1.00,55.00,"3,800.00","1,320.00",9.20,2.00,141.00,90.00,60.00,32.00,19.00,6.00,"1,695.00"
25%,10.83,12.35,14.57,18.00,26.00,1.80,100.75,"4,800.00","2,017.50",14.50,4.00,174.00,98.00,67.00,36.00,26.00,12.00,"2,647.50"
50%,14.60,17.70,19.15,21.00,28.00,2.30,140.00,"5,200.00","2,360.00",16.50,5.00,181.00,103.00,69.00,39.00,27.50,14.00,"3,085.00"
75%,20.25,23.50,24.83,25.00,31.00,3.25,170.00,"5,787.50","2,565.00",19.00,6.00,192.00,110.00,72.00,42.00,30.00,16.00,"3,567.50"
max,45.40,61.90,80.00,46.00,50.00,5.70,300.00,"6,500.00","3,755.00",27.00,8.00,219.00,119.00,78.00,45.00,36.00,22.00,"4,105.00"

### 9. How to extract the row and column number of a particular cell with given criterion?

Which manufacturer, model and type has the lowest `Price`? What is the row and column number of the cell with the lowest `Price` value?

In [9]:
# Get Manufacturer with lowest price
target_els = df.loc[df.Price == df.Price.min(), ['Manufacturer', 'Model', 'Type', 'Price']]
print(target_els)

# Get Row and Column number
row = df.Price.idxmin()
print('Row position is: {}'.format(row))
col = df.columns.get_loc('Price')
print('Col position is: {}'.format(col))

# Get the value
lowest_price = df.iloc[row, col]
print('Lowest price is: {}'.format(target_els["Price"].values[0]))

   Manufacturer    Model   Type  Price
30         Ford  Festiva  Small   7.40
Row position is: 30
Col position is: 4
Lowest price is: 7.4

### 10. How to filter every nth row in a dataframe?

From `df`, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0). That is, return a dataframe with only the columns 'Manufacturer', 'Model' and 'Type' and every 20th row
starting from the first (rows 1, 21, 41, 61...)

In [10]:
# Write your solution here
print(df.iloc[::20, :][['Manufacturer', 'Model', 'Type']])

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### 10. Rename specific columns and modify columns

a) Generate a new dataframe `df_renamed` where you have renamed the column Type as VehicleType in df and replaced the ‘.’ in column names with ‘_’.

Input:

```
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

Output:

```
print(df_renamed.columns)
#> Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
#>        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
#>        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

b) The columns 'Length' and 'Width' are expressed in inches. Convert them to cm (1 inch = 2.54 cm)

c) The column  'Weight' is in pounds. Convert it to kg (1 kg = 2.205 pounds)

In [11]:
### Write your solution here

# Step 1:
df_renamed = df.rename(columns = {'Type':'VehicleType'})
# or
df_renamed = df.copy()
df_renamed.columns.values[2] = "VehicleType"

# Step 2:
# df_renamed.columns = df_renamed.columns.map(lambda x: x.replace('.', '_'))
cols = [col.replace('.', '_') for col in df_renamed.columns]
df_renamed.columns = cols    
print(df_renamed.columns)

df_renamed['Length'] = df_renamed['Length'] * 2.54
df_renamed['Width'] = df_renamed['Width'] * 2.54
df_renamed['Weight'] = df_renamed['Weight'] / 2.205

df_renamed.head()

Index(['Manufacturer', 'Model', 'VehicleType', 'Min_Price', 'Price',
       'Max_Price', 'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain',
       'Cylinders', 'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile',
       'Man_trans_avail', 'Fuel_tank_capacity', 'Passengers', 'Length',
       'Wheelbase', 'Width', 'Turn_circle', 'Rear_seat_room', 'Luggage_room',
       'Weight', 'Origin', 'Make'],
      dtype='object')

,Manufacturer,Model,VehicleType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,5.00,449.58,102.00,172.72,37.00,26.50,nan,"1,226.76",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,5.00,495.30,115.00,180.34,38.00,30.00,15.00,"1,614.51",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,5.00,457.20,102.00,170.18,37.00,28.00,14.00,"1,530.61",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,6.00,490.22,106.00,nan,37.00,31.00,17.00,"1,544.22",non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,4.00,472.44,109.00,175.26,39.00,27.00,13.00,"1,650.79",non-USA,BMW 535i

### 12. Compute an estimate the pressure exercised by each car. 

Append the result as a column named 'Pressure [Pa]' after the column weight of `df`. Pressure *P*, expressed in Pascal (Pa) can be computed with this formula.

$$P =  \frac{F}{A}$$

Where the Surface Area *A*, expressed in square metres, can be computed with this formula (we hypothesise that the car is roughly rectangular in shape, measure units in square brackets):

$$A = Width [m] \times Length [m]$$ 

And the applied force *F*, expressed in Newton, can be computed with this formula, measure units in square brackets:

$$F = Weight [kg] \times g$$,

where g is the gravitational acceleration, that is: 

$$ g = 9.81 \frac{m}{s^2}$$

In [13]:
# Write your solution herea
g = 9.81
area = (df_renamed["Width"] / 100) * (df_renamed["Length"] / 100)
applied_force = g * df_renamed["Weight"]
pressure = applied_force / area
df_renamed["Pressure (Pa)"] = pressure
df_renamed.head()
pressure

0    1,549.81
1    1,773.17
2    1,929.83
3         nan
4    1,955.84
       ...
88   2,028.22
89   1,706.83
90   1,846.54
91   1,617.00
92   1,762.55
Length: 93, dtype: float64

The measure unit of pressure is Pascal which can be a bit unwieldy. Convert the measures of pressure to millibars 
where 1 millibar = 10^2 Pa

In [18]:
df_renamed["Pressure (millibar)"] = pressure / 10**2

In [19]:
df_renamed.head()

,Manufacturer,Model,VehicleType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make,Pressure (Pa),Pressure (millibar)
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,102.00,172.72,37.00,26.50,nan,"1,226.76",non-USA,Acura Integra,"1,549.81",15.50
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,115.00,180.34,38.00,30.00,15.00,"1,614.51",non-USA,Acura Legend,"1,773.17",17.73
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,102.00,170.18,37.00,28.00,14.00,"1,530.61",non-USA,Audi 90,"1,929.83",19.30
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,106.00,nan,37.00,31.00,17.00,"1,544.22",non-USA,Audi 100,nan,nan
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,109.00,175.26,39.00,27.00,13.00,"1,650.79",non-USA,BMW 535i,"1,955.84",19.56