# Formative Assignment

There are 12 exercises in these assignment. You are expected to carry out at least 10 exercises out of 12. Each completed exercise is awarded 10 points. In order to pass the final assigment you will need to reach at least 40
points out of 100.

In [1]:
## Let's import the libraries we are going to use later on
import numpy as np
import pandas as pd

# Let's set the precision for NumPy and Pandas
np.set_printoptions(precision=3)
pd.options.display.float_format = '{:,.2f}'.format

## Exercises on Data Structures

### 1. Compute statistics on a Python list
Given the following list
```
l = [12, 45, 12, 999, 10, 8, 76, 20, 10, 10, 7, 70, 17]
```
Compute the mean, the median and the standard deviation of the values in the list, using only built in functionalities of python (no imported libraries, no NumPy or Pandas)

In [2]:
l = [12, 45, 12, 999, 10, 8, 76, 20, 10, 10, 7, 70, 17]

# Write your solution here

# mean
mean = sum(l)/len(l)
print("mean =", mean)

#median
l.sort()
print("sorted =", l)

if len(l)%2 == 0:
    median = (l[(len(l)//2)-1] + l[(len(l)//2)])/2
else:
    median = l[(len(l)//2)-1]
    
print("median =",median)

squared_difference = [ (x - mean)**2 for x in l ]

pvar = (sum(squared_difference)/(len(l)))
print("population variance =",pvar)
pstd = (sum(squared_difference)/(len(l)))**(1/2)
print("population standard deviation =", pstd)

mean = 99.6923076923077
sorted = [7, 8, 10, 10, 10, 12, 12, 17, 20, 45, 70, 76, 999]
median = 12
population variance = 67914.67455621301
population standard deviation = 260.6044407837537

### 2. Create a dictionary from a list of tuples (records)

Given the following list of tuples, each one holding a record
```
records = [
    ('author', 'title', 'publication_year', 'page_count'), 
    ('J. R. R. Tolkien', 'The Fellowship of the Ring', 1954, 398),
    ('J. K. Rowling', 'Harry Potter and the Philosopher\'s stone', 1996, 223),
    ('Evelyn Waugh', 'Brideshead Revisited', 1945, 402),
    ('Philip K. Dick', 'Ubik', 1969, 202),
    ('Thomas Pynchon', "Gravity's Rainbow", 1973, 760),
    ('Stephen King', 'The Stand', 1978, 829)
]
```
Convert them into a list of dictionaries, using the first tuple as keys for all the dictionaries and all the other tuples as values, one per dictionary. 
Expected result:

```
books = [{'author': 'J. R. R. Tolkien',
  'title': 'The Fellowship of the Ring',
  'publication_year': 1954,
  'page_count': 398},
 {'author': 'J. K. Rowling',
  'title': "Harry Potter and the Philosopher's stone",
  'publication_year': 1996,
  'page_count': 223},
 {'author': 'Evelyn Waugh',
  'title': 'Brideshead Revisited',
  'publication_year': 1945,
  'page_count': 402},
 {'author': 'Philip K. Dick',
  'title': 'Ubik',
  'publication_year': 1969,
  'page_count': 202},
 {'author': 'Thomas Pynchon',
  'title': "Gravity's Rainbow",
  'publication_year': 1973,
  'page_count': 760},
 {'author': 'Stephen King',
  'title': 'The Stand',
  'publication_year': 1978,
  'page_count': 829}]
```

In [3]:
records = [
    ('author', 'title', 'publication_year', 'page_count'), 
    ('J. R. R. Tolkien', 'The Fellowship of the Ring', 1954, 398),
    ('J. K. Rowling', 'Harry Potter and the Philosopher\'s stone', 1996, 223),
    ('Evelyn Waugh', 'Brideshead Revisited', 1945, 402),
    ('Philip K. Dick', 'Ubik', 1969, 202),
    ('Thomas Pynchon', "Gravity's Rainbow", 1973, 760),
    ('Stephen King', 'The Stand', 1978, 829)
]

## Write your solution here

books =[{ keys:values for keys,values in zip(records[0],records[x])} for x in range(1,7) ]

books

[{'author': 'J. R. R. Tolkien',
  'title': 'The Fellowship of the Ring',
  'publication_year': 1954,
  'page_count': 398},
 {'author': 'J. K. Rowling',
  'title': "Harry Potter and the Philosopher's stone",
  'publication_year': 1996,
  'page_count': 223},
 {'author': 'Evelyn Waugh',
  'title': 'Brideshead Revisited',
  'publication_year': 1945,
  'page_count': 402},
 {'author': 'Philip K. Dick',
  'title': 'Ubik',
  'publication_year': 1969,
  'page_count': 202},
 {'author': 'Thomas Pynchon',
  'title': "Gravity's Rainbow",
  'publication_year': 1973,
  'page_count': 760},
 {'author': 'Stephen King',
  'title': 'The Stand',
  'publication_year': 1978,
  'page_count': 829}]

## Exercises on Numpy

For these exercises we will work on the IRIS dataset, a very popular multivariate dataset for data anaylisis, first introduced by Ronald Fisher in 1936.

See more about the IRIS dataset heare: https://archive.ics.uci.edu/ml/datasets/Iris

The data source is the file `iris.data` retrieved from the Web. It contains the data for this example in comma separated values (CSV) format. The number of columns is 5 and the number of rows is 150. The data set is composed of 50 samples from each of three species of Iris Flower: Iris Setosa, Iris Virginica and Iris Versicolor. Four features were measured from each sample: the length and the width of the sepals and petals, in centimetres. Based on the combination of these four features, Fisher developed a linear discriminant model to distinguish the species one from each other.

The variables are:

    sepal_length: Sepal length, in centimeters.
    sepal_width: Sepal width, in centimeters.
    petal_length: Petal length, in centimeters.
    petal_width: Petal width, in centimeters.

The three categories of Irises are: 'Iris Setosa', 'Iris Versicolor', and 'Iris Virginica'. 

Let's first import the `iris` dataset as a 1-dimensional array of tuples.

In [4]:
# Input:
# Import iris keeping the text column intact
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris = np.genfromtxt(url, delimiter=',', 
                     names=['sepal length', 'sepal width', 'petal length', 'petal width', 'species'],
                     dtype=[np.float, np.float, np.float, np.float, '|S15']
)

### 3. How to convert a 1d array of tuples to a 2d numpy array

Exercise: convert the `iris` 1D array to a numeric-only 2D array `iris_data` by omitting the species text field. Create a `iris_label` 1D array containing only the species text field. Keep the same indexing/order as in the original array.

In [5]:
## Write your solution here
iris_data  = np.hstack([iris['sepal_length'].reshape(150,1), iris['sepal_width'].reshape(150,1),
                        iris['petal_length'].reshape(150,1), iris['petal_width'].reshape(150,1)])

iris_label = iris['species'].reshape(150,1)

### 4. Split the IRIS dataset by Label


Split the dataset in `iris_data` according to the labels `iris_labels`.

In [6]:
# Write your solution here
iris_species_dict = { flower:iris_data[flower == iris_label.reshape(150)] for flower in np.unique(iris_label) }

### 4. Compute statistics with Numpy

1) For each flower species compute the key statistics for `sepal width`:
- mean
- median
- standard deviation

Answer the following questions:

    a) Which is the flower type with the largest mean value for `sepal_width`?
    b) Which is the flower type with the smallest median value for `sepal_width`?
    
2) Compute the correlation matrix between `sepal_width` and `petal_length` for the three scpecies. Which is the species that shows the highest correlation among the two parameters?

In [7]:
### Compute mean, median, and standard deviation for `sepal width` here:

iris_setosa_sepal_width     =     iris_species_dict[b'Iris-setosa'][:, 1]
iris_versicolor_sepal_width = iris_species_dict[b'Iris-versicolor'][:, 1]
iris_virginica_sepal_width  =  iris_species_dict[b'Iris-virginica'][:, 1]

mean_setosa_sepal_width = np.mean(iris_setosa_sepal_width)
median_setosa_sepal_width = np.median(iris_setosa_sepal_width)
std_setosa_sepal_width = np.std(iris_setosa_sepal_width)

print("iris-setosa")
print("mean   iris-setosa sepal width =",mean_setosa_sepal_width)
print("median iris-setosa sepal width =",median_setosa_sepal_width)
print("std    iris-setosa sepal width =",std_setosa_sepal_width,"\n")

mean_versicolor_sepal_width = np.mean(iris_versicolor_sepal_width)
median_versicolor_sepal_width = np.median(iris_versicolor_sepal_width)
std_versicolor_sepal_width = np.std(iris_versicolor_sepal_width)

print("versicolor")
print("mean   iris-versicolor sepal width =",mean_versicolor_sepal_width)
print("median iris-versicolor sepal width =",median_versicolor_sepal_width)
print("std    iris-versicolor sepal width =",std_versicolor_sepal_width,"\n")

mean_virginica_sepal_width = np.mean(iris_virginica_sepal_width)
median_virginica_sepal_width = np.median(iris_virginica_sepal_width)
std_virginica_sepal_width = np.std(iris_virginica_sepal_width)

print("virginica")
print("mean   iris-virginica sepal width =",mean_virginica_sepal_width)
print("median iris-virginica sepal width =",median_virginica_sepal_width)
print("std    iris-virginica sepal width =",std_virginica_sepal_width,"\n")

iris-setosa
mean   iris-setosa sepal width = 3.418
median iris-setosa sepal width = 3.4
std    iris-setosa sepal width = 0.37719490982779713

versicolor
mean   iris-versicolor sepal width = 2.7700000000000005
median iris-versicolor sepal width = 2.8
std    iris-versicolor sepal width = 0.31064449134018135

virginica
mean   iris-virginica sepal width = 2.974
median iris-virginica sepal width = 3.0
std    iris-virginica sepal width = 0.3192553836664309

In [8]:
### Compute the correlation coefficients here

iris_setosa_petal_length     =     iris_species_dict[b'Iris-setosa'][:, 2]
iris_versicolor_petal_length = iris_species_dict[b'Iris-versicolor'][:, 2]
iris_virginica_petal_length  =  iris_species_dict[b'Iris-virginica'][:, 2]

iris_setosa_sepal_witdth_petal_length     = np.corrcoef(iris_setosa_sepal_width, iris_setosa_petal_length)
iris_versicolor_sepal_witdth_petal_length = np.corrcoef(iris_versicolor_sepal_width, iris_versicolor_petal_length)
iris_virginica_sepal_witdth_petal_length  = np.corrcoef(iris_virginica_sepal_width, iris_virginica_petal_length)

print("iris_setosa correlation matrix (sepal width, petal length)")
print(iris_setosa_sepal_witdth_petal_length,'\n')
print("iris_versicolor correlation matrix (sepal width, petal length)")
print(iris_versicolor_sepal_witdth_petal_length,'\n')
print("iris_virginica correlation matrix (sepal width, petal length)")
print(iris_virginica_sepal_witdth_petal_length,'\n')

iris_setosa correlation matrix (sepal width, petal length)
[[1.    0.177]
 [0.177 1.   ]]

iris_versicolor correlation matrix (sepal width, petal length)
[[1.    0.561]
 [0.561 1.   ]]

iris_virginica correlation matrix (sepal width, petal length)
[[1.    0.401]
 [0.401 1.   ]]

Answer: The species which shows the highest correlation between the sepal width and petal length is versicolor.

### 5. How to create a new column from existing columns of a numpy array

Create a new column for the flower volume V in `iris`, where volume is computing according to this formula (the assumption here is that the shape of the iris flower is approximately conical):

$$ Volume = \frac{\pi \times Sepal Length^2 \times Petal Length}{3}$$

In [9]:
# Input
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='object')

# Write your solution here

iris_volume = ((np.pi*np.power(iris_2d[:,0].astype(np.float),2)*iris_2d[:,2].astype(np.float))/np.float(3))  

iris_data_including_volume = np.hstack([iris_2d, iris_volume.reshape(150,1)])

# Exercises on Pandas Series and DataFrames

### 6. How to convert the index of a series into a column of a dataframe

Convert the series `ser` into a dataframe with its index as another column on the dataframe.

Input

```
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)
```

In [10]:
# Input
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

# Write your solution here
example = pd.concat([ser,pd.Series(ser.index, index = mylist)], axis=1 )
example

    0  1
a   0  a
b   1  b
c   2  c
e   3  e
d   4  d
f   5  f
g   6  g
h   7  h
i   8  i
j   9  j
k  10  k
l  11  l
m  12  m
n  13  n
o  14  o
p  15  p
q  16  q
r  17  r
s  18  s
t  19  t
u  20  u
v  21  v
w  22  w
x  23  x
y  24  y
z  25  z

### 7. How to combine many series to form a dataframe

Combine `ser_1` `ser_2`, and `ser_3` to form a dataframe.

In [11]:
# Input
import numpy as np
ser_1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser_2 = pd.Series(np.arange(26))
ser_3 = pd.Series(np.full(26, True, dtype=bool))

# Write your solution here
example2 = pd.concat([ser_1, ser_2, ser_3], axis=1)
example2

    0   1     2
0   a   0  True
1   b   1  True
2   c   2  True
3   e   3  True
4   d   4  True
5   f   5  True
6   g   6  True
7   h   7  True
8   i   8  True
9   j   9  True
10  k  10  True
11  l  11  True
12  m  12  True
13  n  13  True
14  o  14  True
15  p  15  True
16  q  16  True
17  r  17  True
18  s  18  True
19  t  19  True
20  u  20  True
21  v  21  True
22  w  22  True
23  x  23  True
24  y  24  True
25  z  25  True

## Pandas with a Real Dataset

Let us import the "Cars93"  into a Pandas DataFrame. This dataset, borrowed from R, contains information about 93 Cars sold in the US in 1993. It consists of 93 rows and 27 columns. You can read more details about it here: https://stat.ethz.ch/R-manual/R-devel/library/MASS/html/Cars93.html

The version we are using has some missing values.

In [12]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df.head()

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,5.00,177.00,102.00,68.00,37.00,26.50,nan,"2,705.00",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,5.00,195.00,115.00,71.00,38.00,30.00,15.00,"3,560.00",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,5.00,180.00,102.00,67.00,37.00,28.00,14.00,"3,375.00",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,6.00,193.00,106.00,nan,37.00,31.00,17.00,"3,405.00",non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,4.00,186.00,109.00,69.00,39.00,27.00,13.00,"3,640.00",non-USA,BMW 535i

### 8. How to get the nrows, ncolumns, datatype, summary stats of each column of a dataframe? Also get the array and list equivalent.

Get the number of rows, columns, datatype and summary statistics of each column of the Cars93 dataset. Also get the numpy array and list equivalent of the dataframe. Print out all the results

In [13]:
# Write your solutions here, one per section:

# Print out the number of rows and columns
print("The number of rows =",df.index.size)
print("The number of columns =", df.columns.size,"\n")


# Print out the datatypes of the colums
for columns in df.columns:
    print("The datatype for column",columns,"is",df[columns].dtypes)
print("\n")

# Print out how many columns under each dtype
dtypes,counts = np.unique(df.dtypes, return_counts = True)
dtypes_occurance = dict(zip(dtypes,counts))
print(dtypes_occurance)

# Print out the summary statistics
display(df.describe())

# DataFrame as a numpy array 
display(df.to_numpy())

# DataFrame as a list
print(df.values.tolist())

The number of rows = 93
The number of columns = 27

The datatype for column Manufacturer is object
The datatype for column Model is object
The datatype for column Type is object
The datatype for column Min.Price is float64
The datatype for column Price is float64
The datatype for column Max.Price is float64
The datatype for column MPG.city is float64
The datatype for column MPG.highway is float64
The datatype for column AirBags is object
The datatype for column DriveTrain is object
The datatype for column Cylinders is object
The datatype for column EngineSize is float64
The datatype for column Horsepower is float64
The datatype for column RPM is float64
The datatype for column Rev.per.mile is float64
The datatype for column Man.trans.avail is object
The datatype for column Fuel.tank.capacity is float64
The datatype for column Passengers is float64
The datatype for column Length is float64
The datatype for column Wheelbase is float64
The datatype for column Width is float64
The datatype for column Turn.circle is float64
The datatype for column Rear.seat.room is float64
The datatype for column Luggage.room is float64
The datatype for column Weight is float64
The datatype for column Origin is object
The datatype for column Make is object


{dtype('float64'): 18, dtype('O'): 9}

,Min.Price,Price,Max.Price,MPG.city,MPG.highway,EngineSize,Horsepower,RPM,Rev.per.mile,Fuel.tank.capacity,Passengers,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight
count,86.00,91.00,88.00,84.00,91.00,91.00,86.00,90.00,87.00,85.00,91.00,89.00,92.00,87.00,88.00,89.00,74.00,86.00
mean,17.12,19.62,21.46,22.40,29.07,2.66,144.00,"5,276.67","2,355.00",16.68,5.08,182.87,103.96,69.45,38.95,27.85,13.99,"3,104.59"
std,8.83,9.72,10.70,5.84,5.37,1.05,53.46,605.55,486.92,3.38,1.05,14.79,6.86,3.78,3.30,3.02,3.12,600.13
min,6.70,7.40,7.90,15.00,20.00,1.00,55.00,"3,800.00","1,320.00",9.20,2.00,141.00,90.00,60.00,32.00,19.00,6.00,"1,695.00"
25%,10.83,12.35,14.57,18.00,26.00,1.80,100.75,"4,800.00","2,017.50",14.50,4.00,174.00,98.00,67.00,36.00,26.00,12.00,"2,647.50"
50%,14.60,17.70,19.15,21.00,28.00,2.30,140.00,"5,200.00","2,360.00",16.50,5.00,181.00,103.00,69.00,39.00,27.50,14.00,"3,085.00"
75%,20.25,23.50,24.83,25.00,31.00,3.25,170.00,"5,787.50","2,565.00",19.00,6.00,192.00,110.00,72.00,42.00,30.00,16.00,"3,567.50"
max,45.40,61.90,80.00,46.00,50.00,5.70,300.00,"6,500.00","3,755.00",27.00,8.00,219.00,119.00,78.00,45.00,36.00,22.00,"4,105.00"

array([['Acura', 'Integra', 'Small', ..., 2705.0, 'non-USA',
        'Acura Integra'],
       [nan, 'Legend', 'Midsize', ..., 3560.0, 'non-USA', 'Acura Legend'],
       ['Audi', '90', 'Compact', ..., 3375.0, 'non-USA', 'Audi 90'],
       ...,
       ['Volkswagen', 'Corrado', 'Sporty', ..., 2810.0, 'non-USA',
        'Volkswagen Corrado'],
       ['Volvo', '240', 'Compact', ..., 2985.0, 'non-USA', 'Volvo 240'],
       [nan, '850', 'Midsize', ..., 3245.0, 'non-USA', 'Volvo 850']],
      dtype=object)

[['Acura', 'Integra', 'Small', 12.9, 15.9, 18.8, 25.0, 31.0, 'None', 'Front', '4', 1.8, 140.0, 6300.0, 2890.0, 'Yes', 13.2, 5.0, 177.0, 102.0, 68.0, 37.0, 26.5, nan, 2705.0, 'non-USA', 'Acura Integra'], [nan, 'Legend', 'Midsize', 29.2, 33.9, 38.7, 18.0, 25.0, 'Driver & Passenger', 'Front', '6', 3.2, 200.0, 5500.0, 2335.0, 'Yes', 18.0, 5.0, 195.0, 115.0, 71.0, 38.0, 30.0, 15.0, 3560.0, 'non-USA', 'Acura Legend'], ['Audi', '90', 'Compact', 25.9, 29.1, 32.3, 20.0, 26.0, 'Driver only', 'Front', '6', 2.8, 172.0, 5500.0, 2280.0, 'Yes', 16.9, 5.0, 180.0, 102.0, 67.0, 37.0, 28.0, 14.0, 3375.0, 'non-USA', 'Audi 90'], ['Audi', '100', 'Midsize', nan, 37.7, 44.6, 19.0, 26.0, 'Driver & Passenger', nan, '6', nan, 172.0, 5500.0, 2535.0, nan, 21.1, 6.0, 193.0, 106.0, nan, 37.0, 31.0, 17.0, 3405.0, 'non-USA', 'Audi 100'], ['BMW', '535i', 'Midsize', nan, 30.0, nan, 22.0, 30.0, nan, 'Rear', '4', 3.5, 208.0, 5700.0, 2545.0, 'Yes', 21.1, 4.0, 186.0, 109.0, 69.0, 39.0, 27.0, 13.0, 3640.0, 'non-USA', 'BMW 535i'], ['Buick', 'Century', 'Midsize', 14.2, 15.7, 17.3, 22.0, 31.0, 'Driver only', nan, '4', 2.2, 110.0, 5200.0, 2565.0, 'No', 16.4, 6.0, 189.0, 105.0, 69.0, 41.0, 28.0, 16.0, nan, 'USA', 'Buick Century'], ['Buick', 'LeSabre', 'Large', 19.9, 20.8, nan, 19.0, 28.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, nan, 'No', nan, 6.0, 200.0, 111.0, 74.0, 42.0, 30.5, 17.0, 3470.0, 'USA', 'Buick LeSabre'], ['Buick', 'Roadmaster', 'Large', 22.6, 23.7, 24.9, 16.0, 25.0, 'Driver only', 'Rear', '6', 5.7, 180.0, 4000.0, 1320.0, 'No', 23.0, 6.0, 216.0, 116.0, 78.0, 45.0, 30.5, 21.0, 4105.0, 'USA', 'Buick Roadmaster'], ['Buick', 'Riviera', 'Midsize', 26.3, 26.3, 26.3, 19.0, 27.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 18.8, 5.0, 198.0, 108.0, nan, 41.0, 26.5, 14.0, 3495.0, 'USA', 'Buick Riviera'], ['Cadillac', 'DeVille', 'Large', 33.0, 34.7, 36.3, 16.0, 25.0, 'Driver only', 'Front', '8', 4.9, 200.0, 4100.0, nan, 'No', 18.0, 6.0, 206.0, 114.0, 73.0, 43.0, 35.0, 18.0, 3620.0, 'USA', 'Cadillac DeVille'], ['Cadillac', 'Seville', 'Midsize', 37.5, 40.1, 42.7, 16.0, 25.0, 'Driver & Passenger', 'Front', '8', 4.6, 295.0, 6000.0, 1985.0, 'No', 20.0, 5.0, 204.0, 111.0, 74.0, 44.0, 31.0, nan, 3935.0, 'USA', 'Cadillac Seville'], ['Chevrolet', 'Cavalier', 'Compact', 8.5, 13.4, 18.3, 25.0, 36.0, nan, nan, '4', 2.2, nan, 5200.0, 2380.0, 'Yes', 15.2, 5.0, 182.0, 101.0, 66.0, 38.0, 25.0, 13.0, 2490.0, 'USA', 'Chevrolet Cavalier'], ['Chevrolet', 'Corsica', 'Compact', 11.4, 11.4, 11.4, 25.0, 34.0, 'Driver only', 'Front', nan, 2.2, 110.0, 5200.0, 2665.0, 'Yes', 15.6, 5.0, 184.0, 103.0, 68.0, 39.0, 26.0, nan, 2785.0, 'USA', 'Chevrolet Corsica'], ['Chevrolet', 'Camaro', 'Sporty', 13.4, 15.1, 16.8, 19.0, 28.0, 'Driver & Passenger', 'Rear', nan, 3.4, 160.0, 4600.0, 1805.0, 'Yes', nan, 4.0, 193.0, 101.0, 74.0, 43.0, 25.0, 13.0, 3240.0, 'USA', 'Chevrolet Camaro'], ['Chevrolet', 'Lumina', 'Midsize', 13.4, 15.9, 18.4, nan, 29.0, 'None', 'Front', '4', 2.2, nan, 5200.0, 2595.0, 'No', 16.5, 6.0, nan, 108.0, 71.0, nan, 28.5, 16.0, 3195.0, 'USA', 'Chevrolet Lumina'], ['Chevrolet', 'Lumina_APV', 'Van', 14.7, 16.3, 18.0, 18.0, 23.0, 'None', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 20.0, 7.0, 178.0, 110.0, 74.0, 44.0, 30.5, nan, 3715.0, 'USA', 'Chevrolet Lumina_APV'], ['Chevrolet', 'Astro', 'Van', 14.7, 16.6, 18.6, 15.0, 20.0, 'None', '4WD', '6', 4.3, nan, 4000.0, 1790.0, 'No', 27.0, 8.0, 194.0, 111.0, 78.0, 42.0, 33.5, nan, 4025.0, 'USA', 'Chevrolet Astro'], ['Chevrolet', 'Caprice', 'Large', 18.0, 18.8, 19.6, 17.0, 26.0, 'Driver only', 'Rear', '8', 5.0, 170.0, 4200.0, 1350.0, 'No', 23.0, 6.0, 214.0, 116.0, 77.0, 42.0, 29.5, 20.0, 3910.0, 'USA', 'Chevrolet Caprice'], ['Chevrolet', 'Corvette', 'Sporty', 34.6, 38.0, 41.5, 17.0, 25.0, 'Driver only', 'Rear', '8', 5.7, 300.0, 5000.0, 1450.0, 'Yes', 20.0, 2.0, 179.0, 96.0, 74.0, 43.0, nan, nan, 3380.0, nan, 'Chevrolet Corvette'], [nan, 'Concorde', 'Large', 18.4, 18.4, 18.4, 20.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.3, 153.0, 5300.0, 1990.0, 'No', 18.0, 6.0, 203.0, 113.0, 74.0, nan, 31.0, 15.0, 3515.0, 'USA', 'Chrylser Concorde'], ['Chrysler', 'LeBaron', 'Compact', 14.5, 15.8, 17.1, 23.0, 28.0, 'Driver & Passenger', 'Front', '4', 3.0, 141.0, 5000.0, 2090.0, 'No', 16.0, 6.0, 183.0, 104.0, 68.0, 41.0, 30.5, 14.0, 3085.0, 'USA', 'Chrysler LeBaron'], ['Chrysler', 'Imperial', 'Large', 29.5, 29.5, 29.5, 20.0, 26.0, 'Driver only', 'Front', '6', 3.3, 147.0, 4800.0, 1785.0, 'No', 16.0, 6.0, 203.0, 110.0, 69.0, 44.0, 36.0, 17.0, 3570.0, 'USA', 'Chrysler Imperial'], ['Dodge', 'Colt', 'Small', 7.9, 9.2, 10.6, 29.0, 33.0, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 3285.0, 'Yes', nan, 5.0, 174.0, 98.0, 66.0, 32.0, nan, 11.0, 2270.0, 'USA', 'Dodge Colt'], ['Dodge', 'Shadow', 'Small', 8.4, 11.3, 14.2, 23.0, 29.0, 'Driver only', 'Front', '4', 2.2, 93.0, 4800.0, nan, 'Yes', 14.0, 5.0, 172.0, 97.0, 67.0, 38.0, 26.5, nan, 2670.0, 'USA', 'Dodge Shadow'], ['Dodge', 'Spirit', 'Compact', 11.9, 13.3, 14.7, 22.0, 27.0, 'Driver only', 'Front', '4', 2.5, 100.0, 4800.0, 2535.0, 'Yes', nan, 6.0, 181.0, 104.0, 68.0, 39.0, 30.5, nan, 2970.0, 'USA', 'Dodge Spirit'], ['Dodge', 'Caravan', 'Van', nan, 19.0, 24.4, 17.0, 21.0, 'Driver only', '4WD', '6', 3.0, 142.0, 5000.0, 1970.0, 'No', 20.0, 7.0, 175.0, 112.0, 72.0, 42.0, 26.5, nan, 3705.0, 'USA', 'Dodge Caravan'], ['Dodge', 'Dynasty', 'Midsize', 14.8, 15.6, 16.4, 21.0, nan, 'Driver only', 'Front', nan, 2.5, 100.0, 4800.0, 2465.0, 'No', 16.0, 6.0, 192.0, 105.0, 69.0, 42.0, 30.5, 16.0, 3080.0, 'USA', 'Dodge Dynasty'], ['Dodge', 'Stealth', 'Sporty', 18.5, 25.8, 33.1, nan, 24.0, 'Driver only', '4WD', '6', 3.0, 300.0, 6000.0, 2120.0, 'Yes', 19.8, 4.0, 180.0, 97.0, nan, 40.0, 20.0, 11.0, 3805.0, 'USA', 'Dodge Stealth'], ['Eagle', 'Summit', 'Small', 7.9, 12.2, 16.5, 29.0, 33.0, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 2505.0, 'Yes', 13.2, 5.0, 174.0, 98.0, 66.0, 36.0, 26.5, 11.0, 2295.0, 'USA', 'Eagle Summit'], ['Eagle', 'Vision', 'Large', nan, 19.3, 21.2, 20.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.5, nan, 5800.0, 1980.0, 'No', 18.0, 6.0, 202.0, 113.0, 74.0, 40.0, 30.0, 15.0, 3490.0, 'USA', 'Eagle Vision'], ['Ford', 'Festiva', 'Small', 6.9, 7.4, 7.9, 31.0, 33.0, nan, 'Front', '4', 1.3, 63.0, 5000.0, 3150.0, 'Yes', 10.0, 4.0, 141.0, 90.0, 63.0, 33.0, 26.0, 12.0, 1845.0, 'USA', 'Ford Festiva'], ['Ford', 'Escort', 'Small', 8.4, 10.1, 11.9, 23.0, 30.0, 'None', 'Front', '4', 1.8, 127.0, 6500.0, 2410.0, nan, 13.2, 5.0, 171.0, 98.0, 67.0, 36.0, 28.0, 12.0, 2530.0, 'USA', 'Ford Escort'], ['Ford', 'Tempo', 'Compact', 10.4, 11.3, 12.2, 22.0, 27.0, 'None', 'Front', '4', 2.3, 96.0, 4200.0, 2805.0, 'Yes', 15.9, 5.0, 177.0, 100.0, 68.0, nan, 27.5, 13.0, nan, 'USA', nan], ['Ford', 'Mustang', 'Sporty', 10.8, 15.9, 21.0, 22.0, 29.0, 'Driver only', 'Rear', '4', 2.3, 105.0, 4600.0, 2285.0, 'Yes', 15.4, 4.0, 180.0, 101.0, 68.0, 40.0, 24.0, 12.0, nan, 'USA', 'Ford Mustang'], ['Ford', 'Probe', 'Sporty', 12.8, 14.0, 15.2, nan, 30.0, 'Driver only', 'Front', '4', 2.0, 115.0, 5500.0, 2340.0, 'Yes', 15.5, 4.0, 179.0, 103.0, 70.0, 38.0, 23.0, 18.0, 2710.0, 'USA', 'Ford Probe'], ['Ford', 'Aerostar', 'Van', 14.5, 19.9, 25.3, 15.0, 20.0, 'Driver only', '4WD', '6', 3.0, 145.0, 4800.0, 2080.0, 'Yes', 21.0, 7.0, 176.0, 119.0, 72.0, 45.0, 30.0, nan, 3735.0, 'USA', 'Ford Aerostar'], ['Ford', 'Taurus', 'Midsize', 15.6, 20.2, 24.8, 21.0, 30.0, 'Driver only', 'Front', '6', 3.0, nan, 4800.0, 1885.0, 'No', nan, 5.0, 192.0, 106.0, 71.0, 40.0, 27.5, 18.0, 3325.0, 'USA', 'Ford Taurus'], ['Ford', 'Crown_Victoria', 'Large', 20.1, 20.9, 21.7, 18.0, 26.0, 'Driver only', 'Rear', '8', 4.6, 190.0, 4200.0, nan, 'No', 20.0, 6.0, 212.0, 114.0, 78.0, 43.0, 30.0, 21.0, 3950.0, 'USA', 'Ford Crown_Victoria'], ['Geo', 'Metro', 'Small', 6.7, 8.4, 10.0, 46.0, 50.0, 'None', 'Front', '3', 1.0, 55.0, 5700.0, 3755.0, nan, 10.6, 4.0, 151.0, 93.0, 63.0, 34.0, 27.5, 10.0, 1695.0, 'non-USA', 'Geo Metro'], ['Geo', 'Storm', 'Sporty', 11.5, 12.5, 13.5, 30.0, 36.0, 'Driver only', 'Front', '4', 1.6, 90.0, 5400.0, 3250.0, 'Yes', 12.4, 4.0, 164.0, 97.0, nan, 37.0, 24.5, 11.0, 2475.0, 'non-USA', 'Geo Storm'], ['Honda', 'Prelude', 'Sporty', 17.0, 19.8, 22.7, 24.0, 31.0, 'Driver & Passenger', 'Front', '4', 2.3, 160.0, 5800.0, 2855.0, 'Yes', nan, 4.0, 175.0, 100.0, 70.0, 39.0, 23.5, 8.0, 2865.0, 'non-USA', 'Honda Prelude'], ['Honda', 'Civic', 'Small', 8.4, 12.1, 15.8, 42.0, 46.0, 'Driver only', 'Front', '4', 1.5, nan, 5900.0, 2650.0, 'Yes', 11.9, 4.0, 173.0, nan, 67.0, 36.0, 28.0, 12.0, nan, 'non-USA', 'Honda Civic'], ['Honda', 'Accord', 'Compact', 13.8, 17.5, 21.2, 24.0, 31.0, 'Driver & Passenger', 'Front', '4', 2.2, 140.0, 5600.0, nan, 'Yes', 17.0, 4.0, 185.0, 107.0, 67.0, 41.0, 28.0, 14.0, 3040.0, 'non-USA', 'Honda Accord'], ['Hyundai', 'Excel', 'Small', 6.8, 8.0, 9.2, 29.0, 33.0, 'None', 'Front', '4', 1.5, 81.0, 5500.0, 2710.0, 'Yes', 11.9, 5.0, 168.0, 94.0, 63.0, 35.0, 26.0, 11.0, 2345.0, 'non-USA', 'Hyundai Excel'], ['Hyundai', 'Elantra', 'Small', 9.0, 10.0, 11.0, nan, 29.0, 'None', 'Front', '4', 1.8, 124.0, 6000.0, 2745.0, 'Yes', 13.7, 5.0, 172.0, 98.0, 66.0, 36.0, 28.0, 12.0, 2620.0, 'non-USA', 'Hyundai Elantra'], ['Hyundai', 'Scoupe', nan, 9.1, 10.0, 11.0, 26.0, 34.0, 'None', 'Front', '4', 1.5, 92.0, 5550.0, 2540.0, 'Yes', 11.9, 4.0, 166.0, 94.0, 64.0, 34.0, 23.5, 9.0, 2285.0, 'non-USA', nan], ['Hyundai', 'Sonata', 'Midsize', 12.4, 13.9, 15.3, 20.0, 27.0, 'None', 'Front', '4', 2.0, 128.0, 6000.0, 2335.0, 'Yes', 17.2, 5.0, 184.0, 104.0, 69.0, 41.0, 31.0, nan, 2885.0, nan, 'Hyundai Sonata'], ['Infiniti', 'Q45', 'Midsize', 45.4, 47.9, nan, 17.0, 22.0, nan, 'Rear', '8', 4.5, 278.0, 6000.0, 1955.0, 'No', 22.5, 5.0, 200.0, 113.0, 72.0, 42.0, 29.0, 15.0, 4000.0, 'non-USA', 'Infiniti Q45'], ['Lexus', 'ES300', 'Midsize', 27.5, 28.0, 28.4, 18.0, 24.0, 'Driver only', 'Front', '6', 3.0, 185.0, nan, 2325.0, 'Yes', 18.5, 5.0, 188.0, 103.0, 70.0, 40.0, 27.5, 14.0, 3510.0, 'non-USA', 'Lexus ES300'], [nan, 'SC300', 'Midsize', 34.7, 35.2, 35.6, 18.0, 23.0, 'Driver & Passenger', 'Rear', '6', 3.0, 225.0, 6000.0, 2510.0, 'Yes', nan, 4.0, 191.0, 106.0, 71.0, 39.0, 25.0, 9.0, 3515.0, 'non-USA', 'Lexus SC300'], ['Lincoln', 'Continental', 'Midsize', 33.3, 34.3, 35.3, 17.0, 26.0, 'Driver & Passenger', nan, '6', 3.8, 160.0, 4400.0, 1835.0, 'No', 18.4, 6.0, 205.0, 109.0, 73.0, 42.0, 30.0, 19.0, 3695.0, 'USA', 'Lincoln Continental'], ['Lincoln', 'Town_Car', 'Large', 34.4, 36.1, 37.8, 18.0, 26.0, 'Driver & Passenger', 'Rear', '8', 4.6, 210.0, 4600.0, 1840.0, 'No', 20.0, nan, 219.0, 117.0, 77.0, 45.0, 31.5, 22.0, 4055.0, 'USA', 'Lincoln Town_Car'], ['Mazda', '323', 'Small', 7.4, 8.3, 9.1, 29.0, 37.0, 'None', 'Front', '4', 1.6, 82.0, 5000.0, 2370.0, 'Yes', 13.2, 4.0, 164.0, 97.0, 66.0, 34.0, 27.0, 16.0, 2325.0, 'non-USA', 'Mazda 323'], ['Mazda', 'Protege', 'Small', 10.9, 11.6, 12.3, 28.0, 36.0, 'None', 'Front', '4', 1.8, 103.0, 5500.0, 2220.0, 'Yes', 14.5, 5.0, 172.0, 98.0, 66.0, 36.0, 26.5, 13.0, 2440.0, 'non-USA', 'Mazda Protege'], ['Mazda', '626', 'Compact', 14.3, 16.5, 18.7, 26.0, 34.0, 'Driver only', 'Front', '4', 2.5, 164.0, 5600.0, 2505.0, 'Yes', 15.5, 5.0, 184.0, 103.0, 69.0, 40.0, 29.5, 14.0, 2970.0, 'non-USA', 'Mazda 626'], ['Mazda', 'MPV', 'Van', 16.6, 19.1, 21.7, 18.0, 24.0, 'None', '4WD', '6', 3.0, 155.0, 5000.0, 2240.0, 'No', 19.6, 7.0, 190.0, 110.0, 72.0, 39.0, 27.5, nan, 3735.0, 'non-USA', 'Mazda MPV'], ['Mazda', 'RX-7', 'Sporty', 32.5, 32.5, 32.5, 17.0, 25.0, 'Driver only', nan, 'rotary', 1.3, 255.0, 6500.0, 2325.0, 'Yes', 20.0, 2.0, 169.0, 96.0, 69.0, nan, nan, nan, nan, 'non-USA', 'Mazda RX-7'], ['Mercedes-Benz', '190E', 'Compact', 29.0, 31.9, 34.9, nan, 29.0, 'Driver only', 'Rear', '4', 2.3, 130.0, 5100.0, 2425.0, 'Yes', 14.5, 5.0, 175.0, 105.0, 67.0, 34.0, 26.0, 12.0, 2920.0, nan, 'Mercedes-Benz 190E'], ['Mercedes-Benz', '300E', 'Midsize', 43.8, 61.9, 80.0, 19.0, 25.0, 'Driver & Passenger', 'Rear', '6', 3.2, 217.0, 5500.0, 2220.0, 'No', 18.5, 5.0, nan, 110.0, 69.0, 37.0, nan, 15.0, 3525.0, 'non-USA', 'Mercedes-Benz 300E'], ['Mercury', nan, 'Sporty', 13.3, 14.1, 15.0, 23.0, 26.0, 'Driver only', 'Front', '4', 1.6, 100.0, 5750.0, 2475.0, 'Yes', 11.1, 4.0, 166.0, 95.0, 65.0, 36.0, 19.0, 6.0, 2450.0, 'USA', 'Mercury Capri'], ['Mercury', 'Cougar', 'Midsize', 14.9, 14.9, 14.9, 19.0, 26.0, 'None', 'Rear', '6', 3.8, 140.0, 3800.0, 1730.0, 'No', 18.0, 5.0, 199.0, 113.0, 73.0, 38.0, 28.0, 15.0, 3610.0, 'USA', 'Mercury Cougar'], ['Mitsubishi', 'Mirage', 'Small', 7.7, 10.3, 12.9, 29.0, nan, 'None', 'Front', '4', 1.5, 92.0, 6000.0, 2505.0, 'Yes', 13.2, 5.0, 172.0, 98.0, 67.0, 36.0, 26.0, 11.0, 2295.0, 'non-USA', 'Mitsubishi Mirage'], ['Mitsubishi', 'Diamante', 'Midsize', 22.4, 26.1, nan, 18.0, 24.0, 'Driver only', 'Front', '6', 3.0, 202.0, 6000.0, 2210.0, 'No', 19.0, 5.0, 190.0, 107.0, 70.0, 43.0, 27.5, 14.0, 3730.0, 'non-USA', 'Mitsubishi Diamante'], ['Nissan', 'Sentra', 'Small', 8.7, 11.8, 14.9, 29.0, 33.0, 'Driver only', 'Front', nan, 1.6, 110.0, 6000.0, 2435.0, 'Yes', 13.2, 5.0, 170.0, 96.0, 66.0, 33.0, 26.0, nan, nan, 'non-USA', 'Nissan Sentra'], ['Nissan', 'Altima', 'Compact', 13.0, 15.7, 18.3, 24.0, 30.0, 'Driver only', 'Front', '4', 2.4, 150.0, 5600.0, 2130.0, 'Yes', 15.9, 5.0, 181.0, 103.0, 67.0, 40.0, 28.5, 14.0, 3050.0, 'non-USA', 'Nissan Altima'], ['Nissan', 'Quest', 'Van', 16.7, 19.1, 21.5, 17.0, 23.0, 'None', 'Front', '6', 3.0, nan, 4800.0, 2065.0, 'No', 20.0, 7.0, 190.0, 112.0, 74.0, 41.0, 27.0, nan, 4100.0, 'non-USA', 'Nissan Quest'], ['Nissan', 'Maxima', 'Midsize', 21.0, 21.5, 22.0, 21.0, 26.0, 'Driver only', 'Front', '6', 3.0, 160.0, 5200.0, 2045.0, nan, 18.5, 5.0, 188.0, 104.0, 69.0, 41.0, 28.5, 14.0, 3200.0, 'non-USA', 'Nissan Maxima'], ['Oldsmobile', 'Achieva', 'Compact', 13.0, 13.5, 14.0, 24.0, 31.0, 'None', 'Front', '4', 2.3, 155.0, 6000.0, 2380.0, 'No', 15.2, 5.0, 188.0, 103.0, 67.0, 39.0, 28.0, 14.0, 2910.0, 'USA', 'Oldsmobile Achieva'], ['Oldsmobile', 'Cutlass_Ciera', 'Midsize', 14.2, 16.3, 18.4, 23.0, 31.0, 'Driver only', 'Front', '4', 2.2, 110.0, 5200.0, 2565.0, 'No', nan, 5.0, 190.0, 105.0, 70.0, 42.0, 28.0, 16.0, 2890.0, 'USA', 'Oldsmobile Cutlass_Ciera'], ['Oldsmobile', 'Silhouette', 'Van', 19.5, 19.5, 19.5, 18.0, 23.0, 'None', 'Front', '6', 3.8, 170.0, 4800.0, 1690.0, 'No', 20.0, 7.0, nan, 110.0, 74.0, 44.0, 30.5, nan, 3715.0, 'USA', 'Oldsmobile Silhouette'], ['Oldsmobile', 'Eighty-Eight', 'Large', 19.5, 20.7, 21.9, nan, 28.0, 'Driver only', 'Front', '6', 3.8, 170.0, 4800.0, 1570.0, 'No', 18.0, 6.0, 201.0, 111.0, 74.0, 42.0, 31.5, 17.0, 3470.0, 'USA', 'Oldsmobile Eighty-Eight'], ['Plymouth', 'Laser', 'Sporty', 11.4, 14.4, 17.4, nan, 30.0, 'None', '4WD', '4', 1.8, 92.0, 5000.0, 2360.0, 'Yes', 15.9, 4.0, 173.0, 97.0, 67.0, 39.0, 24.5, 8.0, 2640.0, nan, 'Plymouth Laser'], ['Pontiac', 'LeMans', 'Small', nan, 9.0, 9.9, 31.0, 41.0, 'None', 'Front', '4', 1.6, 74.0, 5600.0, 3130.0, 'Yes', 13.2, 4.0, 177.0, 99.0, 66.0, 35.0, 25.5, 17.0, 2350.0, 'USA', 'Pontiac LeMans'], ['Pontiac', 'Sunbird', 'Compact', 9.4, 11.1, 12.8, nan, 31.0, 'None', nan, '4', 2.0, 110.0, 5200.0, 2665.0, 'Yes', 15.2, 5.0, 181.0, 101.0, 66.0, 39.0, 25.0, 13.0, nan, 'USA', nan], ['Pontiac', 'Firebird', nan, 14.0, 17.7, 21.4, 19.0, 28.0, 'Driver & Passenger', 'Rear', '6', nan, 160.0, 4600.0, 1805.0, 'Yes', 15.5, 4.0, 196.0, 101.0, 75.0, 43.0, 25.0, 13.0, 3240.0, 'USA', 'Pontiac Firebird'], ['Pontiac', 'Grand_Prix', 'Midsize', 15.4, 18.5, 21.6, 19.0, 27.0, 'None', 'Front', '6', 3.4, 200.0, 5000.0, 1890.0, 'Yes', 16.5, 5.0, 195.0, 108.0, 72.0, 41.0, 28.5, 16.0, 3450.0, 'USA', 'Pontiac Grand_Prix'], ['Pontiac', 'Bonneville', 'Large', 19.4, 24.4, 29.4, 19.0, 28.0, 'Driver & Passenger', 'Front', '6', 3.8, 170.0, 4800.0, 1565.0, 'No', 18.0, 6.0, 177.0, 111.0, 74.0, 43.0, 30.5, 18.0, 3495.0, 'USA', 'Pontiac Bonneville'], ['Saab', '900', 'Compact', 20.3, 28.7, 37.1, 20.0, 26.0, nan, 'Front', '4', 2.1, 140.0, 6000.0, 2910.0, 'Yes', 18.0, 5.0, nan, 99.0, 67.0, 37.0, 26.5, 14.0, 2775.0, 'non-USA', 'Saab 900'], ['Saturn', 'SL', 'Small', 9.2, nan, 12.9, nan, 38.0, 'Driver only', 'Front', '4', 1.9, 85.0, 5000.0, 2145.0, 'Yes', 12.8, 5.0, 176.0, 102.0, 68.0, 40.0, 26.5, nan, 2495.0, 'USA', 'Saturn SL'], ['Subaru', 'Justy', 'Small', 7.3, 8.4, 9.5, 33.0, 37.0, 'None', '4WD', '3', 1.2, 73.0, 5600.0, 2875.0, 'Yes', 9.2, 4.0, 146.0, 90.0, 60.0, 32.0, 23.5, 10.0, 2045.0, 'non-USA', 'Subaru Justy'], ['Subaru', 'Loyale', 'Small', 10.5, 10.9, 11.3, 25.0, 30.0, 'None', '4WD', '4', 1.8, 90.0, 5200.0, 3375.0, 'Yes', 15.9, 5.0, 175.0, 97.0, 65.0, 35.0, 27.5, 15.0, 2490.0, 'non-USA', 'Subaru Loyale'], ['Subaru', 'Legacy', 'Compact', 16.3, 19.5, 22.7, 23.0, 30.0, 'Driver only', '4WD', '4', 2.2, 130.0, nan, 2330.0, 'Yes', 15.9, 5.0, 179.0, 102.0, 67.0, 37.0, 27.0, 14.0, 3085.0, 'non-USA', 'Subaru Legacy'], ['Suzuki', 'Swift', nan, 7.3, 8.6, nan, 39.0, 43.0, 'None', 'Front', '3', 1.3, 70.0, 6000.0, 3360.0, 'Yes', 10.6, 4.0, 161.0, 93.0, nan, 34.0, 27.5, 10.0, 1965.0, 'non-USA', 'Suzuki Swift'], ['Toyota', 'Tercel', 'Small', nan, 9.8, 11.8, 32.0, 37.0, 'Driver only', 'Front', '4', 1.5, 82.0, 5200.0, 3505.0, 'Yes', 11.9, nan, 162.0, 94.0, nan, 36.0, 24.0, 11.0, 2055.0, 'non-USA', 'Toyota Tercel'], ['Toyota', 'Celica', 'Sporty', 14.2, 18.4, 22.6, 25.0, 32.0, nan, 'Front', '4', 2.2, 135.0, nan, 2405.0, 'Yes', 15.9, 4.0, 174.0, 99.0, 69.0, nan, 23.0, 13.0, 2950.0, 'non-USA', 'Toyota Celica'], ['Toyota', 'Camry', 'Midsize', 15.2, nan, 21.2, 22.0, 29.0, 'Driver only', nan, '4', 2.2, 130.0, 5400.0, 2340.0, nan, 18.5, 5.0, 188.0, 103.0, 70.0, 38.0, 28.5, 15.0, 3030.0, 'non-USA', 'Toyota Camry'], ['Toyota', 'Previa', 'Van', nan, 22.7, 26.6, 18.0, 22.0, 'Driver only', '4WD', '4', 2.4, 138.0, 5000.0, 2515.0, 'Yes', 19.8, 7.0, 187.0, 113.0, 71.0, 41.0, 35.0, nan, 3785.0, 'non-USA', 'Toyota Previa'], ['Volkswagen', 'Fox', 'Small', 8.7, 9.1, 9.5, 25.0, 33.0, 'None', 'Front', '4', 1.8, 81.0, 5500.0, 2550.0, 'Yes', 12.4, 4.0, 163.0, 93.0, 63.0, 34.0, 26.0, 10.0, 2240.0, 'non-USA', 'Volkswagen Fox'], ['Volkswagen', 'Eurovan', 'Van', 16.6, 19.7, 22.7, 17.0, 21.0, 'None', 'Front', '5', 2.5, 109.0, 4500.0, 2915.0, 'Yes', 21.1, 7.0, 187.0, 115.0, 72.0, 38.0, 34.0, nan, 3960.0, nan, 'Volkswagen Eurovan'], ['Volkswagen', 'Passat', 'Compact', 17.6, 20.0, 22.4, 21.0, 30.0, 'None', 'Front', '4', 2.0, 134.0, 5800.0, 2685.0, 'Yes', 18.5, 5.0, 180.0, 103.0, 67.0, 35.0, 31.5, 14.0, 2985.0, 'non-USA', 'Volkswagen Passat'], ['Volkswagen', 'Corrado', 'Sporty', 22.9, 23.3, 23.7, 18.0, 25.0, 'None', 'Front', '6', 2.8, 178.0, 5800.0, 2385.0, 'Yes', 18.5, 4.0, 159.0, 97.0, 66.0, 36.0, 26.0, 15.0, 2810.0, 'non-USA', 'Volkswagen Corrado'], ['Volvo', '240', 'Compact', 21.8, 22.7, 23.5, 21.0, 28.0, 'Driver only', 'Rear', nan, 2.3, 114.0, 5400.0, 2215.0, 'Yes', 15.8, 5.0, 190.0, 104.0, 67.0, 37.0, 29.5, 14.0, 2985.0, 'non-USA', 'Volvo 240'], [nan, '850', 'Midsize', 24.8, 26.7, 28.5, 20.0, 28.0, 'Driver & Passenger', 'Front', '5', 2.4, 168.0, 6200.0, nan, 'Yes', 19.3, 5.0, 184.0, 105.0, 69.0, 38.0, 30.0, 15.0, 3245.0, 'non-USA', 'Volvo 850']]

### 9. How to extract the row and column number of a particular cell with given criterion?

Which manufacturer, model and type of Car has the lowest `Price`? What is the row and column number of the cell with the lowest `Price` value?

In [14]:
# Write your solution here

# Get Manufacturer, Model and Type with lowest price
display(df[['Manufacturer','Model','Type','Price']][df['Price'] == df['Price'].min()])

# Get the corresponding Row and Column number
row_number = int(df[df['Price'] == df['Price'].min()].index.values)
column_number = df.columns.get_loc('Price')
print("The corresponding Row and Column numbers are",row_number,"and",column_number,"respectively")

#Get the value
df.iloc[row_number, column_number]

   Manufacturer    Model   Type  Price
30         Ford  Festiva  Small   7.40

The corresponding Row and Column numbers are 30 and 4 respectively

7.4

### 10. How to filter every nth row in a dataframe?

From `df`, filter the 'Manufacturer', 'Model' and 'Type' for every 20th row starting from 1st (row 0). That is, return a dataframe with only the columns 'Manufacturer', 'Model' and 'Type' and every 20th row
starting from the first row included (i.e. rows 1, 21, 41, 61...)

In [15]:
# Write your solution here
df[['Manufacturer','Model','Type']][1::20]

   Manufacturer     Model     Type
1           NaN    Legend  Midsize
21     Chrysler  Imperial    Large
41        Honda     Civic    Small
61   Mitsubishi    Mirage    Small
81       Subaru    Legacy  Compact

### 11. Rename specific columns and modify columns

a) Generate a new dataframe `df_renamed` where you have renamed the column Type as VehicleType in df and replaced the ‘.’ in column names with ‘_’.

Input:

```
print(df.columns)
#> Index(['Manufacturer', 'Model', 'Type', 'Min.Price', 'Price', 'Max.Price',
#>        'MPG.city', 'MPG.highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev.per.mile', 'Man.trans.avail',
#>        'Fuel.tank.capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn.circle', 'Rear.seat.room', 'Luggage.room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

Output:

```
print(df_renamed.columns)
#> Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
#>        'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
#>        'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
#>        'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
#>        'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
#>        'Make'],
#>       dtype='object')
```

b) The columns 'Length' and 'Width' are expressed in inches. Convert them to cm (1 inch = 2.54 cm)

c) The column  'Weight' is in pounds. Convert it to kg (1 kg = 2.205 pounds)

In [16]:
### Write your solution here
df_renamed = df.copy()

# a) rename the column names
df_renamed = df_renamed.rename( columns = {'Type':'carType'} )
df_renamed.columns = df_renamed.columns.str.replace('.', '_', regex = True)
display(df_renamed)

## b) convert the colums
df_renamed[['Length','Width']] = df_renamed[['Length','Width']]*2.54
df_renamed['Weight'] = df_renamed['Weight']/2.205
display(df_renamed)

,Manufacturer,Model,carType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,5.00,177.00,102.00,68.00,37.00,26.50,nan,"2,705.00",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,5.00,195.00,115.00,71.00,38.00,30.00,15.00,"3,560.00",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,5.00,180.00,102.00,67.00,37.00,28.00,14.00,"3,375.00",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,6.00,193.00,106.00,nan,37.00,31.00,17.00,"3,405.00",non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,4.00,186.00,109.00,69.00,39.00,27.00,13.00,"3,640.00",non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.60,19.70,22.70,17.00,21.00,None,Front,...,7.00,187.00,115.00,72.00,38.00,34.00,nan,"3,960.00",NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.60,20.00,22.40,21.00,30.00,None,Front,...,5.00,180.00,103.00,67.00,35.00,31.50,14.00,"2,985.00",non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.90,23.30,23.70,18.00,25.00,None,Front,...,4.00,159.00,97.00,66.00,36.00,26.00,15.00,"2,810.00",non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.80,22.70,23.50,21.00,28.00,Driver only,Rear,...,5.00,190.00,104.00,67.00,37.00,29.50,14.00,"2,985.00",non-USA,Volvo 240
92,NaN,850,Midsize,24.80,26.70,28.50,20.00,28.00,Driver & Passenger,Front,...,5.00,184.00,105.00,69.00,38.00,30.00,15.00,"3,245.00",non-USA,Volvo 850

,Manufacturer,Model,carType,Min_Price,Price,Max_Price,MPG_city,MPG_highway,AirBags,DriveTrain,...,Passengers,Length,Wheelbase,Width,Turn_circle,Rear_seat_room,Luggage_room,Weight,Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,5.00,449.58,102.00,172.72,37.00,26.50,nan,"1,226.76",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,5.00,495.30,115.00,180.34,38.00,30.00,15.00,"1,614.51",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,5.00,457.20,102.00,170.18,37.00,28.00,14.00,"1,530.61",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,6.00,490.22,106.00,nan,37.00,31.00,17.00,"1,544.22",non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,4.00,472.44,109.00,175.26,39.00,27.00,13.00,"1,650.79",non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.60,19.70,22.70,17.00,21.00,None,Front,...,7.00,474.98,115.00,182.88,38.00,34.00,nan,"1,795.92",NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.60,20.00,22.40,21.00,30.00,None,Front,...,5.00,457.20,103.00,170.18,35.00,31.50,14.00,"1,353.74",non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.90,23.30,23.70,18.00,25.00,None,Front,...,4.00,403.86,97.00,167.64,36.00,26.00,15.00,"1,274.38",non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.80,22.70,23.50,21.00,28.00,Driver only,Rear,...,5.00,482.60,104.00,170.18,37.00,29.50,14.00,"1,353.74",non-USA,Volvo 240
92,NaN,850,Midsize,24.80,26.70,28.50,20.00,28.00,Driver & Passenger,Front,...,5.00,467.36,105.00,175.26,38.00,30.00,15.00,"1,471.66",non-USA,Volvo 850

### 12. Compute an estimate the pressure exercised by each car. 

Append the result as a column named 'Pressure [Pa]' after the column weight of `df`. Pressure *P*, expressed in Pascal (Pa) can be computed with this formula.

$$P =  \frac{F}{A}$$

Where the Surface Area *A*, expressed in square metres, can be computed with this formula (we hypothesise that the car is roughly rectangular in shape, measure units in square brackets):

$$A = Width [m] \times Length [m]$$ 

And the applied force *F*, expressed in Newton, can be computed with this formula, measure units in square brackets:

$$F = Weight [kg] \times g$$,

where g is the gravitational acceleration, that is: 

$$ g = 9.81 \frac{m}{s^2}$$

In [17]:
# Write your solution herea
width_meters  =  (df['Width']*2.54)/100
length_meters = (df['Length']*2.54)/100
weight_kilograms = df['Weight']/2.205

surface_area_meters = width_meters*length_meters
force_newtons = weight_kilograms*9.81
pressure_pascal = force_newtons/surface_area_meters
df.insert(df.columns.get_loc('Origin'), 'Pressure [Pa]', pressure_pascal)
display(df)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Pressure [Pa],Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,177.00,102.00,68.00,37.00,26.50,nan,"2,705.00","1,549.81",non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,195.00,115.00,71.00,38.00,30.00,15.00,"3,560.00","1,773.17",non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,180.00,102.00,67.00,37.00,28.00,14.00,"3,375.00","1,929.83",non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,193.00,106.00,nan,37.00,31.00,17.00,"3,405.00",nan,non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,186.00,109.00,69.00,39.00,27.00,13.00,"3,640.00","1,955.84",non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.60,19.70,22.70,17.00,21.00,None,Front,...,187.00,115.00,72.00,38.00,34.00,nan,"3,960.00","2,028.22",NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.60,20.00,22.40,21.00,30.00,None,Front,...,180.00,103.00,67.00,35.00,31.50,14.00,"2,985.00","1,706.83",non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.90,23.30,23.70,18.00,25.00,None,Front,...,159.00,97.00,66.00,36.00,26.00,15.00,"2,810.00","1,846.54",non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.80,22.70,23.50,21.00,28.00,Driver only,Rear,...,190.00,104.00,67.00,37.00,29.50,14.00,"2,985.00","1,617.00",non-USA,Volvo 240
92,NaN,850,Midsize,24.80,26.70,28.50,20.00,28.00,Driver & Passenger,Front,...,184.00,105.00,69.00,38.00,30.00,15.00,"3,245.00","1,762.55",non-USA,Volvo 850

The measure unit of pressure is Pascal which can be a bit unwieldy. Convert the measures of pressure to millibars 
where 1 millibar = 10^2 Pa

In [18]:
## Write your solution here
millibar = df['Pressure [Pa]']/100
df = df.rename(columns={'Pressure [Pa]': 'Pressure [mbar]'})
df['Pressure [mbar]'] = millibar
display(df)

,Manufacturer,Model,Type,Min.Price,Price,Max.Price,MPG.city,MPG.highway,AirBags,DriveTrain,...,Length,Wheelbase,Width,Turn.circle,Rear.seat.room,Luggage.room,Weight,Pressure [mbar],Origin,Make
0,Acura,Integra,Small,12.90,15.90,18.80,25.00,31.00,None,Front,...,177.00,102.00,68.00,37.00,26.50,nan,"2,705.00",15.50,non-USA,Acura Integra
1,NaN,Legend,Midsize,29.20,33.90,38.70,18.00,25.00,Driver & Passenger,Front,...,195.00,115.00,71.00,38.00,30.00,15.00,"3,560.00",17.73,non-USA,Acura Legend
2,Audi,90,Compact,25.90,29.10,32.30,20.00,26.00,Driver only,Front,...,180.00,102.00,67.00,37.00,28.00,14.00,"3,375.00",19.30,non-USA,Audi 90
3,Audi,100,Midsize,nan,37.70,44.60,19.00,26.00,Driver & Passenger,NaN,...,193.00,106.00,nan,37.00,31.00,17.00,"3,405.00",nan,non-USA,Audi 100
4,BMW,535i,Midsize,nan,30.00,nan,22.00,30.00,NaN,Rear,...,186.00,109.00,69.00,39.00,27.00,13.00,"3,640.00",19.56,non-USA,BMW 535i
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,Volkswagen,Eurovan,Van,16.60,19.70,22.70,17.00,21.00,None,Front,...,187.00,115.00,72.00,38.00,34.00,nan,"3,960.00",20.28,NaN,Volkswagen Eurovan
89,Volkswagen,Passat,Compact,17.60,20.00,22.40,21.00,30.00,None,Front,...,180.00,103.00,67.00,35.00,31.50,14.00,"2,985.00",17.07,non-USA,Volkswagen Passat
90,Volkswagen,Corrado,Sporty,22.90,23.30,23.70,18.00,25.00,None,Front,...,159.00,97.00,66.00,36.00,26.00,15.00,"2,810.00",18.47,non-USA,Volkswagen Corrado
91,Volvo,240,Compact,21.80,22.70,23.50,21.00,28.00,Driver only,Rear,...,190.00,104.00,67.00,37.00,29.50,14.00,"2,985.00",16.17,non-USA,Volvo 240
92,NaN,850,Midsize,24.80,26.70,28.50,20.00,28.00,Driver & Passenger,Front,...,184.00,105.00,69.00,38.00,30.00,15.00,"3,245.00",17.63,non-USA,Volvo 850

#### That's all! You have completed your formative assignment

Remeber to save it and send it to me by Monday 4 November by 8:00 pm GMT